@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

body * { -webkit-text-size-adjust: none; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; border-radius: 0; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@-webkit-keyframes arrow-anim { 0% { fill: #9CA5BF; -webkit-transform: translateZ(0) scale(0.67); transform: translateZ(0) scale(0.67); }
  50% { fill: #FFF; -webkit-transform: translateZ(0) scale(1); transform: translateZ(0) scale(1); }
  100% { fill: #9CA5BF; -webkit-transform: translateZ(0) scale(0.67); transform: translateZ(0) scale(0.67); } }

@keyframes arrow-anim { 0% { fill: #9CA5BF; -webkit-transform: translateZ(0) scale(0.67); transform: translateZ(0) scale(0.67); }
  50% { fill: #FFF; -webkit-transform: translateZ(0) scale(1); transform: translateZ(0) scale(1); }
  100% { fill: #9CA5BF; -webkit-transform: translateZ(0) scale(0.67); transform: translateZ(0) scale(0.67); } }
@-webkit-keyframes arrow-anim-second { 0% { fill: #FFF; -webkit-transform: translateZ(0) scale(1); transform: translateZ(0) scale(1); }
  50% { fill: #9CA5BF; -webkit-transform: translateZ(0) scale(0.67); transform: translateZ(0) scale(0.67); }
  100% { fill: #FFF; -webkit-transform: translateZ(0) scale(1); transform: translateZ(0) scale(1); } }
@keyframes arrow-anim-second { 0% { fill: #FFF; -webkit-transform: translateZ(0) scale(1); transform: translateZ(0) scale(1); }
  50% { fill: #9CA5BF; -webkit-transform: translateZ(0) scale(0.67); transform: translateZ(0) scale(0.67); }
  100% { fill: #FFF; -webkit-transform: translateZ(0) scale(1); transform: translateZ(0) scale(1); } }
svg { fill: inherit; }
svg * { fill: inherit; }

.icon { display: inline-block; vertical-align: middle; background-repeat: no-repeat; background-position: center center; width: 1em; fill: #FFF; }
.icon svg { display: block; width: 100%; height: 100%; }
.icon-logo { font-size: 100px; font-size: 10rem; height: 0.72em; }
.icon-play { font-size: 30px; font-size: 3rem; height: 0.66667em; }
.icon-arrow { font-size: 43px; font-size: 4.3rem; height: 0.55814em; }
.icon-cloud { font-size: 60px; font-size: 6rem; height: 0.81667em; }
.icon-computer { font-size: 60px; font-size: 6rem; height: 0.9em; }
.icon-phone { font-size: 36px; font-size: 3.6rem; height: 1.66667em; }
.icon-stample { font-size: 52px; font-size: 5.2rem; height: 1.15385em; }
.icon-store { font-size: 60px; font-size: 6rem; height: 0.88333em; }
.icon-windows { font-size: 60px; font-size: 6rem; height: 0.83333em; }
.icon-step { font-size: 60px; font-size: 6rem; height: 1em; }
.icon-business { font-size: 60px; font-size: 6rem; height: 1em; }
.icon-separator { fill: initial; font-size: 170px; font-size: 17rem; height: 0.11765em; }
.icon-separator svg * { fill: initial; }
.icon-graph, .icon-chart, .icon-settings, .icon-sofa, .icon-flag, .icon-heart, .icon-clock, .icon-person { font-size: 60px; font-size: 6rem; height: 1em; }

.icon-business { background-image: url("../img/svg/gradient-icons/business.svg"); }

.icon-chart { background-image: url("../img/svg/gradient-icons/chart.svg"); }

.icon-clock { background-image: url("../img/svg/gradient-icons/clock.svg"); }

.icon-cloud { background-image: url("../img/svg/gradient-icons/cloud.svg"); }

.icon-computer { background-image: url("../img/svg/gradient-icons/computer.svg"); }

.icon-flag { background-image: url("../img/svg/gradient-icons/flag.svg"); }

.icon-graph { background-image: url("../img/svg/gradient-icons/graph.svg"); }

.icon-heart { background-image: url("../img/svg/gradient-icons/heart.svg"); }

.icon-person { background-image: url("../img/svg/gradient-icons/person.svg"); }

.icon-phone { background-image: url("../img/svg/gradient-icons/phone.svg"); }

.icon-settings { background-image: url("../img/svg/gradient-icons/settings.svg"); }

.icon-sofa { background-image: url("../img/svg/gradient-icons/sofa.svg"); }

.icon-stample { background-image: url("../img/svg/gradient-icons/stample.svg"); }

.icon-step { background-image: url("../img/svg/gradient-icons/step.svg"); }

.icon-store { background-image: url("../img/svg/gradient-icons/store.svg"); }

.icon-windows { background-image: url("../img/svg/gradient-icons/windows.svg"); }

@font-face { font-family: "Kelson Sans Bold"; src: url("../fonts/kelson_sans_bold_ru.eot"); src: url("../fonts/kelson_sans_bold_ru.eot?#iefix") format("embedded-opentype"), url("../fonts/kelson_sans_bold_ru.woff") format("woff"), url("../fonts/kelson_sans_bold_ru.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Kelson Sans Light"; src: url("../fonts/kelson_sans_light_ru.eot"); src: url("../fonts/kelson_sans_light_ru.eot?#iefix") format("embedded-opentype"), url("../fonts/kelson_sans_light_ru.woff") format("woff"), url("../fonts/kelson_sans_light_ru.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Kelson Sans Regular"; src: url("../fonts/kelson_sans_regular_ru.eot"); src: url("../fonts/kelson_sans_regular_ru.eot?#iefix") format("embedded-opentype"), url("../fonts/kelson_sans_regular_ru.woff") format("woff"), url("../fonts/kelson_sans_regular_ru.ttf") format("truetype"); font-weight: normal; font-style: normal; }
html { font-size: 62.5%; }

body { min-width: 320px; color: #333333; font-family: "Kelson Sans Regular", "Trebuchet MS", "Arial", "sans-serif"; font-weight: normal; font-size: 14px; font-size: 1.4rem; line-height: 1.43; }

a { color: #2196F3; }

.svg-sprite { display: none !important; }

.heading { display: block; text-align: center; max-width: 770px; margin: 0 auto 35px; font-family: "Kelson Sans Light", "Trebuchet MS", "Arial", "sans-serif"; font-weight: normal; font-size: 32px; font-size: 3.2rem; line-height: 1.33; color: #333333; }

.heading_toparea { font-size: 40px; font-size: 4rem; color: #FFF; }

.subtitle { display: inline-block; line-height: 1.5; font-family: "Kelson Sans Regular", "Trebuchet MS", "Arial", "sans-serif"; font-weight: normal; }

.subtitle_toparea { display: block; margin-top: 2.85714em; opacity: 0.75; }

.title { display: block; margin: 80px 0 40px; text-align: center; font-family: "Kelson Sans Bold", "Trebuchet MS", "Arial", "sans-serif"; font-weight: normal; font-size: 14px; font-size: 1.4rem; color: #9CA5BF; text-transform: uppercase; line-height: 1.28; letter-spacing: 0.14286em; }
.title:first-child { margin-top: 0; }
.title:before, .title:after { content: "•"; display: inline-block; }
.title:before { margin-right: 1em; }
.title:after { margin-left: 1em; }

.btn { display: inline-block; box-sizing: border-box; height: 2.85714em; padding: 0 1.42857em; background: none; border-radius: 1.42857em; box-shadow: inset 0 0 0 2px #FFF; font-size: 14px; font-size: 1.4rem; font-family: "Kelson Sans Regular", "Trebuchet MS", "Arial", "sans-serif"; font-weight: normal; color: #FFF; text-decoration: none; text-align: center; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.btn:hover, .btn:focus { box-shadow: inset 0 0 0 50px #FFF; color: #333333; }
.btn:active { color: #FFF; background: #2868B3; box-shadow: none; }
.ie8 .btn { padding: 0 1.28571em; border: 2px solid #FFF; }
.ie8 .btn:hover { background: #FFF; }

.video-link { display: inline-block; font-family: "Kelson Sans Bold", "Trebuchet MS", "Arial", "sans-serif"; font-weight: normal; font-size: 14px; font-size: 1.4rem; line-height: 1.28; color: #FFF; text-decoration: none; text-transform: uppercase; -webkit-transition: all 0.1s ease; transition: all 0.1s ease; }
.video-link > span { display: inline-block; vertical-align: middle; }
.video-link .icon { position: relative; vertical-align: middle; top: -0.06667em; margin-right: 0.3em; -webkit-transition: all 0.1s ease; transition: all 0.1s ease; }
.video-link:hover, .video-link:focus { color: #2196F3; }
.video-link:hover .icon, .video-link:focus .icon { fill: #2196F3; }

.arrows-down { display: inline-block; background: none; }
.arrows-down > .icon { display: block; margin: auto; }
.arrows-down > .icon:first-child { -webkit-animation: arrow-anim 2s ease infinite; animation: arrow-anim 2s ease infinite; }
.arrows-down > .icon:last-child { -webkit-animation: arrow-anim-second 2s ease infinite; animation: arrow-anim-second 2s ease infinite; }

.text { line-height: 1.7; }
.text a { text-decoration: none; }
.text a:hover { text-decoration: underline; }

.text_center { text-align: center; margin: 40px 0; }

.text_light { font-family: "Kelson Sans Light", "Trebuchet MS", "Arial", "sans-serif"; font-weight: normal; }

.figure { display: block; text-align: center; font-size: 14px; font-size: 1.4rem; }

.figure__icon { display: block; min-height: 60px; line-height: 60px; font-size: 0; }
.figure__icon .icon { vertical-align: middle; }

.figure__text { display: block; margin-top: 15px; font-size: 14px; font-size: 1.4rem; line-height: 1.43; font-family: "Kelson Sans Bold", "Trebuchet MS", "Arial", "sans-serif"; font-weight: normal; letter-spacing: 0.14286em; text-transform: uppercase; }

.l { max-width: 940px; padding: 0 40px; margin: auto; }
@media only screen and (max-width: 600px) { .l { padding: 0 20px; } }

.l-columns { margin: 0 -10px; *zoom: 1; }
.l-columns:after { content: " "; display: table; clear: both; }
.l-columns .column { float: left; width: 50%; padding: 0 10px; box-sizing: border-box; }

.l-columns_four .column { width: 25%; }

.toparea { display: table; table-layout: fixed; border-collapse: collapse; width: 100%; height: 100%; height: 100vh; color: #FFF; background: url("../img/toparea-photo.jpg") no-repeat center center; background-size: cover; }
@media only screen and (max-width: 800px) { .toparea { display: block; height: auto; } }

.toparea__outer { position: relative; display: table-cell; width: 100%; height: 100%; vertical-align: middle; background: url("../img/toparea-mask.png") no-repeat center center; background-size: cover; }
@media only screen and (max-width: 800px) { .toparea__outer { display: block; height: auto; } }

.toparea__header { position: absolute; top: 0; left: 0; right: 0; text-align: center; padding-top: 40px; }
@media only screen and (max-width: 800px) { .toparea__header { position: static; } }

.toparea__inner { text-align: center; padding: 170px 0; }
.toparea__inner .video-link { margin-top: 5.42857em; }
@media only screen and (max-width: 800px) { .toparea__inner { padding: 0; margin: 80px 0; } }

.toparea__footer { position: absolute; bottom: 0; left: 0; right: 0; box-sizing: border-box; padding-bottom: 80px; text-align: center; }
.toparea__footer .arrows-down { display: inline-block; }
.toparea__footer .btn { display: none; margin: auto; margin-bottom: 80px; }
@media only screen and (max-width: 800px) { .toparea__footer { position: static; padding-bottom: 40px; }
  .toparea__footer .btn { display: block; } }

.header { position: relative; }
.header .menu { position: absolute; top: 50%; left: 0; margin-top: -0.5em; }
.header .btn { position: absolute; top: 50%; right: 0; margin-top: -1.42857em; }
.header .logo { vertical-align: top; }
@media only screen and (max-width: 800px) { .header .menu { position: relative; margin: 40px 0; }
  .header .btn { display: none; } }

.logo { display: inline-block; text-decoration: none; }
.logo .svg-icon { display: block; }

.menu { font-size: 14px; font-size: 1.4rem; line-height: 1.28; }

.menu__list { font-size: 0; }
.menu__list li { display: inline-block; vertical-align: middle; position: relative; margin-left: 2.14286em; font-size: 14px; font-size: 1.4rem; }
.menu__list li:before { content: "•"; position: absolute; top: 0; left: -1.28571em; font-size: 14px; font-size: 1.4rem; }
.menu__list li:first-child { margin-left: 0; }
.menu__list li:first-child:before { display: none; }
@media only screen and (max-width: 1000px) { .menu__list li { margin-left: 1.42857em; }
  .menu__list li:first-child { margin-left: 0; }
  .menu__list li:before { display: none; } }
@media only screen and (max-width: 800px) { .menu__list li:before { display: block; left: -0.92857em; } }

.menu__link { display: inline-block; color: inherit; text-decoration: none; font-family: "Kelson Sans Bold", "Trebuchet MS", "Arial", "sans-serif"; font-weight: normal; font-size: 14px; font-size: 1.4rem; color: #FFF; letter-spacing: 0.14286em; text-transform: uppercase; -webkit-transition: color 100 linear; transition: color 100 linear; }
.menu__link:after { content: ""; position: absolute; top: 100%; left: 0; right: 100%; height: 4px; background: #2196F3; font-size: 1em; margin-top: 0.85714em; -webkit-transition: right 0.2s ease; transition: right 0.2s ease; }
.menu__link:hover:after, .menu__link:focus:after { right: 0; }
.menu__link:active { color: #2196F3; }

.section { position: relative; padding: 80px 0; }

.section__separator { position: absolute; bottom: 0; left: 0; right: 0; text-align: center; }

.icons { font-size: 0px; font-size: 0rem; text-align: center; margin-top: -40px; }
@media only screen and (max-width: 900px) { .icons { max-width: 500px; margin-left: auto; margin-right: auto; }
  .icons .icons__item { width: 33.333%; } }

.icons__item { display: inline-block; vertical-align: top; width: 16.66667%; margin-top: 40px; box-sizing: border-box; font-size: 14px; font-size: 1.4rem; text-align: center; }

.photos { height: 300px; height: 30rem; font-size: 0; overflow: hidden; white-space: nowrap; }

.photos__inner { position: relative; }

.photos__block { display: inline-block; vertical-align: top; height: 300px; width: 300px; height: 30rem; width: 30rem; background: #333333; *zoom: 1; }
.photos__block:after { content: " "; display: table; clear: both; }

.photos__block-small { float: left; width: 33.33%; height: 33.33%; }

.photos__block-smaller { float: left; width: 50%; height: 50%; }

.features__text { margin: -35px -10px 0; font-size: 0px; font-size: 0rem; }

.features__text-column { display: inline-block; width: 25%; box-sizing: border-box; padding: 0 10px; margin-top: 35px; vertical-align: top; font-size: 14px; font-size: 1.4rem; }
@media only screen and (max-width: 1000px) { .features__text-column { width: 50%; } }

.helping__table { display: table; table-layout: fixed; border-collapse: collapse; width: 100%; }
@media only screen and (max-width: 400px) { .helping__table { display: block; max-width: 200px; margin: auto; } }

.helping__row { display: table-row; }
@media only screen and (max-width: 400px) { .helping__row { display: block; } }

.helping__cell { width: 50%; padding: 30px 80px 30px 155px; display: table-cell; vertical-align: middle; box-sizing: border-box; position: relative; text-align: right; }
.helping__cell .figure { display: block; position: static; text-align: right; }
.helping__cell .figure__icon { position: absolute; top: 50%; right: 0; margin-top: -30px; }
.helping__cell .figure__text { margin: 0; }
.helping__cell:first-child { padding-left: 80px; padding-right: 155px; text-align: left; }
.helping__cell:first-child .figure { text-align: left; }
.helping__cell:first-child .figure__icon { right: auto; left: 0; }
@media only screen and (max-width: 1000px) { .helping__cell { padding-right: 0; text-align: center; padding-top: 20px; padding-bottom: 20px; }
  .helping__cell .figure { text-align: center; }
  .helping__cell .figure__icon { position: static; margin-top: 0; }
  .helping__cell .figure__text { margin-top: 15px; }
  .helping__cell:first-child { padding-left: 0; }
  .helping__cell:first-child .figure { text-align: center; } }
@media only screen and (max-width: 700px) { .helping__cell { padding-left: 20px; padding-right: 0; }
  .helping__cell:first-child { padding-left: 0; padding-right: 20px; } }
@media only screen and (max-width: 400px) { .helping__cell { padding: 0; width: auto; display: block; margin-top: 40px; }
  .helping__cell:first-child { padding: 0; } }



/*# sourceMappingURL=screen.css.map */