@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

body * { -webkit-text-size-adjust: none; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@-webkit-keyframes arrow-anim { 0% { fill: #9CA5BF; -webkit-transform: translateZ(0) scale(0.67); transform: translateZ(0) scale(0.67); }
  50% { fill: #FFF; -webkit-transform: translateZ(0) scale(1); transform: translateZ(0) scale(1); }
  100% { fill: #9CA5BF; -webkit-transform: translateZ(0) scale(0.67); transform: translateZ(0) scale(0.67); } }

@keyframes arrow-anim { 0% { fill: #9CA5BF; -webkit-transform: translateZ(0) scale(0.67); transform: translateZ(0) scale(0.67); }
  50% { fill: #FFF; -webkit-transform: translateZ(0) scale(1); transform: translateZ(0) scale(1); }
  100% { fill: #9CA5BF; -webkit-transform: translateZ(0) scale(0.67); transform: translateZ(0) scale(0.67); } }
@-webkit-keyframes arrow-anim-second { 0% { fill: #FFF; -webkit-transform: translateZ(0) scale(1); transform: translateZ(0) scale(1); }
  50% { fill: #9CA5BF; -webkit-transform: translateZ(0) scale(0.67); transform: translateZ(0) scale(0.67); }
  100% { fill: #FFF; -webkit-transform: translateZ(0) scale(1); transform: translateZ(0) scale(1); } }
@keyframes arrow-anim-second { 0% { fill: #FFF; -webkit-transform: translateZ(0) scale(1); transform: translateZ(0) scale(1); }
  50% { fill: #9CA5BF; -webkit-transform: translateZ(0) scale(0.67); transform: translateZ(0) scale(0.67); }
  100% { fill: #FFF; -webkit-transform: translateZ(0) scale(1); transform: translateZ(0) scale(1); } }
@font-face { font-family: "Kelson Sans Bold"; src: url("../fonts/kelson_sans_bold_ru.eot"); src: url("../fonts/kelson_sans_bold_ru.eot?#iefix") format("embedded-opentype"), url("../fonts/kelson_sans_bold_ru.woff") format("woff"), url("../fonts/kelson_sans_bold_ru.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Kelson Sans Light"; src: url("../fonts/kelson_sans_light_ru.eot"); src: url("../fonts/kelson_sans_light_ru.eot?#iefix") format("embedded-opentype"), url("../fonts/kelson_sans_light_ru.woff") format("woff"), url("../fonts/kelson_sans_light_ru.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Kelson Sans Regular"; src: url("../fonts/kelson_sans_regular_ru.eot"); src: url("../fonts/kelson_sans_regular_ru.eot?#iefix") format("embedded-opentype"), url("../fonts/kelson_sans_regular_ru.woff") format("woff"), url("../fonts/kelson_sans_regular_ru.ttf") format("truetype"); font-weight: normal; font-style: normal; }
html { font-size: 62.5%; }

body { min-width: 320px; color: #333333; font-family: "Kelson Sans Regular", "Trebuchet MS", "Arial", "sans-serif"; font-weight: normal; font-size: 14px; font-size: 1.4rem; line-height: 1.43; }

.out { overflow: hidden; }

a { color: #2196F3; }

.svg-sprite { width: 0 !important; height: 0 !important; overflow: hidden; }

.heading { display: block; text-align: center; max-width: 770px; margin: 0 auto 35px; font-family: "Kelson Sans Light", "Trebuchet MS", "Arial", "sans-serif"; font-weight: normal; font-size: 32px; font-size: 3.2rem; line-height: 1.33; color: inherit; }

.heading_toparea { font-size: 40px; font-size: 4rem; color: #FFF; }

.subtitle { display: inline-block; line-height: 1.5; font-family: "Kelson Sans Regular", "Trebuchet MS", "Arial", "sans-serif"; font-weight: normal; }

.subtitle_toparea { display: block; margin-top: 2.85714em; opacity: 0.75; }

.title { display: block; position: relative; margin: 80px 0 40px; text-align: center; font-family: "Kelson Sans Bold", "Trebuchet MS", "Arial", "sans-serif"; font-weight: normal; font-size: 14px; font-size: 1.4rem; color: #9CA5BF; text-transform: uppercase; line-height: 1.5; letter-spacing: 0.14286em; }
.title:first-child { margin-top: 0; }
.title .title__text { display: inline-block; padding: 0 1.71429em; position: relative; }
.title .title__text:before, .title .title__text:after { content: "•"; position: absolute; top: 50%; left: 0; margin-top: -0.75em; }
.title .title__text:after { left: auto; right: 0; }
@media only screen and (max-width: 750px) { .title .title__text { padding: 0; }
  .title .title__text:before, .title .title__text:after { display: none; } }

.btn { display: inline-block; box-sizing: border-box; height: 2.85714em; padding: 0 1.42857em; background: none; border-radius: 1.42857em; box-shadow: inset 0 0 0 2px #FFF; font-size: 14px; font-size: 1.4rem; font-family: "Kelson Sans Regular", "Trebuchet MS", "Arial", "sans-serif"; font-weight: normal; color: #FFF; text-decoration: none; text-align: center; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.btn:hover, .btn:focus { box-shadow: inset 0 0 0 50px #FFF; color: #333333; }
.btn:active { color: #FFF; background: #2868B3; box-shadow: none; }
.ie8 .btn { padding: 0 1.28571em; border: 2px solid #FFF; }
.ie8 .btn:hover { background: #FFF; }

.btn_green { background: #4CAF50; box-shadow: none; }
.btn_green:hover, .btn_green:focus { background: #118915; box-shadow: none; color: #FFF; }
.btn_green:active { background: #106F13; }

.link { display: inline-block; position: relative; text-decoration: none; color: #2196F3; -webkit-transition: color 0.1s ease; transition: color 0.1s ease; }
.link:before { content: ""; position: absolute; top: 50%; left: 0; right: 100%; height: 4px; background: #4CAF50; margin-top: 0.57143em; -webkit-transition: right 0.2s ease; transition: right 0.2s ease; }
.link:hover, .link:focus { color: #4CAF50; text-decoration: none; }
.link:hover:before, .link:focus:before { right: 0; }

.link_icon { padding-right: 1em; }
.link_icon:before { background: #2196F3; }
.link_icon:after { content: ""; display: block; position: absolute; top: 50%; right: 0; font-size: 10px; font-size: 1rem; width: 1em; height: 1em; margin-top: -0.7em; background: no-repeat center center; background-image: url("../img/svg/icons-other/link.svg"); }
.link_icon:hover, .link_icon:focus { color: #2196F3; text-decoration: none; }
.link_icon:hover:before, .link_icon:focus:before { right: 1em; }

.video-link { display: inline-block; font-family: "Kelson Sans Bold", "Trebuchet MS", "Arial", "sans-serif"; font-weight: normal; font-size: 14px; font-size: 1.4rem; line-height: 1.28; color: #FFF; text-decoration: none; text-transform: uppercase; -webkit-transition: all 0.1s ease; transition: all 0.1s ease; }
.video-link > span { display: inline-block; vertical-align: middle; }
.video-link .icon { position: relative; vertical-align: middle; top: -0.06667em; margin-right: 0.3em; -webkit-transition: all 0.1s ease; transition: all 0.1s ease; }
.video-link:hover, .video-link:focus { color: #2196F3; }
.video-link:hover .icon, .video-link:focus .icon { fill: #2196F3; }

.arrows-down { display: inline-block; background: none; }
.arrows-down > .icon { display: block; margin: auto; }
.arrows-down > .icon:first-child { -webkit-animation: arrow-anim 2s ease infinite; animation: arrow-anim 2s ease infinite; }
.arrows-down > .icon:last-child { -webkit-animation: arrow-anim-second 2s ease infinite; animation: arrow-anim-second 2s ease infinite; }

.text { line-height: 1.7; }

.text_center { text-align: center; margin: 40px 0; }
.text_center:first-child { margin-top: 0; }
.text_center:last-child { margin-bottom: 0; }

.text_light { font-family: "Kelson Sans Light", "Trebuchet MS", "Arial", "sans-serif"; font-weight: normal; }

.figure { display: block; text-align: center; font-size: 14px; font-size: 1.4rem; }

.figure__icon { display: block; min-height: 60px; line-height: 60px; font-size: 0; }
.figure__icon .icon { vertical-align: middle; }

.figure__text, .figure__text-small { display: block; margin-top: 1.07143em; font-size: 14px; font-size: 1.4rem; line-height: 1.7; }

.figure__text { font-family: "Kelson Sans Bold", "Trebuchet MS", "Arial", "sans-serif"; font-weight: normal; letter-spacing: 0.14286em; text-transform: uppercase; }
.figure__text + .figure__text-small { margin-top: 0.71429em; }

.figure__text-small { font-family: "Kelson Sans Light", "Trebuchet MS", "Arial", "sans-serif"; font-weight: normal; }

.figure_regular .figure__text-small { font-family: "Kelson Sans Regular", "Trebuchet MS", "Arial", "sans-serif"; font-weight: normal; }

.big-btn { display: block; width: 100%; margin: auto; max-width: 10em; height: 6em; line-height: 6em; box-sizing: border-box; border-radius: 10px; overflow: hidden; color: inherit; font-size: 14px; font-size: 1.4rem; font-family: "Kelson Sans Regular", "Trebuchet MS", "Arial", "sans-serif"; font-weight: normal; background-repeat: no-repeat; background-position: center center; background-size: cover; -webkit-transition: all 0.1s ease; transition: all 0.1s ease; }
.big-btn .icon-play { font-size: 40px; font-size: 4rem; }

.big-btn__inner { display: inline-block; }

.big-btn_video { position: relative; }
.big-btn_video:after { content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: none; border-radius: 10px; -webkit-transition: all 0.1s ease; transition: all 0.1s ease; }
.big-btn_video:hover, .big-btn_video:focus, .big-btn_video:active { box-shadow: inset 0 0 0 5px #FFF; }
.big-btn_video:active:after { background: rgba(255, 255, 255, 0.4); }

.big-btn_file { background: none; border: 2px solid #FFF; text-align: center; line-height: 5.85714em; }
.big-btn_file:hover, .big-btn_file:focus { background: #2196F3; border-color: #2196F3; }
.big-btn_file:active { background: #2868B3; border-color: #2868B3; }

.file-name { display: inline-block; vertical-align: middle; line-height: 1.7; color: inherit; font-size: 14px; font-size: 1.4rem; }
.file-name small { font-size: 1em; display: block; font-family: "Kelson Sans Light", "Trebuchet MS", "Arial", "sans-serif"; font-weight: normal; }

.step { font-size: 14px; font-size: 1.4rem; line-height: 1.7; *zoom: 1; }
.step:after { content: " "; display: table; clear: both; }

.step__num { display: block; float: left; width: 2.22222em; height: 2.22222em; font-size: 1.28571em; line-height: 2em; box-sizing: border-box; font-family: "Kelson Sans Bold", "Trebuchet MS", "Arial", "sans-serif"; font-weight: normal; border-radius: 50%; border: 2px solid; text-align: center; }
.step__num > span { display: inline-block; vertical-align: middle; }

.step__text { display: block; font-size: 1em; padding-left: 4.28571em; }

.field { position: relative; box-sizing: border-box; border: 1px solid #9CA5BF; border-radius: 4px; }
.field.is-error .field__back { opacity: 1; background: #F44336; box-shadow: none; }

.field__back { opacity: 0; content: ""; position: absolute; top: -2px; left: -2px; bottom: -2px; right: -2px; background: #FFF; box-shadow: 0px 0px 10px 0px #87CAFF; border-radius: 4px; background: -webkit-linear-gradient(top, #4B81FF, #3DC4FF); background: linear-gradient(to bottom, #4B81FF, #3DC4FF); -webkit-transition: all 0.1s ease; transition: all 0.1s ease; }
.field__input:focus ~ .field__back { opacity: 1; }

.field__input { display: block; position: relative; z-index: 1; width: 100%; padding: 0.71429em; margin: 0; box-sizing: border-box; background: #FFF; font-family: "Kelson Sans Light", "Trebuchet MS", "Arial", "sans-serif"; font-weight: normal; font-size: 14px; font-size: 1.4rem; color: #333333; border: 0; border-radius: 3px; }
.field__input:-ms-input-placeholder { font-family: "Kelson Sans Light", "Trebuchet MS", "Arial", "sans-serif"; font-weight: normal; font-size: 14px; font-size: 1.4rem; color: #9CA5BF; }
.field__input::-moz-placeholder { font-family: "Kelson Sans Light", "Trebuchet MS", "Arial", "sans-serif"; font-weight: normal; font-size: 14px; font-size: 1.4rem; color: #9CA5BF; }
.field__input::-webkit-input-placeholder { font-family: "Kelson Sans Light", "Trebuchet MS", "Arial", "sans-serif"; font-weight: normal; font-size: 14px; font-size: 1.4rem; color: #9CA5BF; }
.field__input::placeholder { font-family: "Kelson Sans Light", "Trebuchet MS", "Arial", "sans-serif"; font-weight: normal; font-size: 14px; font-size: 1.4rem; color: #9CA5BF; }

textarea.field__input { resize: none; border-top-width: 0; border-bottom-width: 0; }

.logo-link { display: block; text-decoration: none; }
.logo-link .icon { fill: #9CA5BF; -webkit-transition: all 0.1s ease; transition: all 0.1s ease; }
.logo-link .icon:hover { fill: #4A90E2; }

.l { max-width: 940px; padding: 0 40px; margin: auto; }
@media only screen and (max-width: 800px) { .l { padding: 0 10px; } }

.l-columns { margin: 0 -20px; *zoom: 1; }
.l-columns:after { content: " "; display: table; clear: both; }
.l-columns .column { float: left; width: 50%; padding: 0 20px; box-sizing: border-box; }

.l-columns_three .column { width: 33.33333%; }

@media only screen and (max-width: 800px) { .l-columns { margin-left: 0; margin-right: 0; }
  .l-columns .column { float: none; width: auto; margin-top: 40px; padding: 0; }
  .l-columns .column:first-child { margin-top: 0; } }

/* Slider */
.slick-loading .slick-list { background: #fff url("../img/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face { font-family: "slick"; src: url("../fonts/slick.eot"); src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg"); font-weight: normal; font-style: normal; }
/* Arrows */
.slick-prev, .slick-next { position: absolute; display: block; height: 20px; width: 20px; line-height: 0px; font-size: 0px; cursor: pointer; background: transparent; color: transparent; top: 50%; margin-top: -10px; padding: 0; border: none; outline: none; }
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus { outline: none; background: transparent; color: transparent; }
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before { opacity: 1; }
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: 0.25; }

.slick-prev:before, .slick-next:before { font-family: "slick"; font-size: 20px; line-height: 1; color: white; opacity: 0.75; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.slick-prev { left: -25px; }
[dir="rtl"] .slick-prev { left: auto; right: -25px; }
.slick-prev:before { content: "←"; }
[dir="rtl"] .slick-prev:before { content: "→"; }

.slick-next { right: -25px; }
[dir="rtl"] .slick-next { left: -25px; right: auto; }
.slick-next:before { content: "→"; }
[dir="rtl"] .slick-next:before { content: "←"; }

/* Dots */
.slick-dots { position: absolute; bottom: 0; list-style: none; display: block; text-align: center; padding: 0; width: 100%; }
.slick-dots li { position: relative; display: inline-block; cursor: pointer; }
.slick-dots li button { display: block; padding: 7px; background: none; outline: none; line-height: 0px; font-size: 0px; color: #2196F3; cursor: pointer; }
.slick-dots li button:before { content: ""; display: block; height: 10px; width: 10px; border: 2px solid; box-sizing: border-box; border-radius: 50%; background: none; -webkit-transition: all 0.1s ease; transition: all 0.1s ease; }
.slick-dots li button:hover:before { background: #2196F3; }
.slick-dots li.slick-active button:before { background: #2196F3; box-shadow: 0 0 0 2px #2196F3; }

/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
[dir="rtl"] .slick-slide { float: right; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

svg { fill: inherit; }
svg * { fill: inherit; }

.icon { display: inline-block; vertical-align: middle; background-repeat: no-repeat; background-position: center center; font-size: 60px; font-size: 6rem; width: 1em; height: 1em; fill: #FFF; }
.icon svg { display: block; width: 100%; height: 100%; }
.icon-logo { font-size: 100px; font-size: 10rem; height: 0.72em; }
.icon-play { font-size: 30px; font-size: 3rem; height: 0.66667em; }
.icon-arrow { font-size: 43px; font-size: 4.3rem; height: 0.55814em; }
.icon-separator { fill: initial; font-size: 170px; font-size: 17rem; height: 0.11765em; }
.icon-separator svg * { fill: initial; }
.icon-dotts-l, .icon-dotts-r { font-size: 100px; font-size: 10rem; height: 2.85em; }
.icon-dotts-t, .icon-dotts-b { font-size: 285px; font-size: 28.5rem; height: 0.35088em; }
.icon-dotts-t-small, .icon-dotts-b-small { font-size: 165px; font-size: 16.5rem; height: 0.60606em; }
.icon-arr-prev, .icon-arr-next { font-size: 16px; font-size: 1.6rem; height: 1.875em; }
.icon-nova-poshta { font-size: 58px; font-size: 5.8rem; height: 0.86207em; }
.icon-capable-bits { font-size: 69px; font-size: 6.9rem; height: 0.71014em; }
.icon-spaces { font-size: 70px; font-size: 7rem; height: 0.55714em; }
.icon-rio { font-size: 63px; font-size: 6.3rem; height: 0.4127em; }
.icon-mobiads { font-size: 70px; font-size: 7rem; height: 0.57143em; }
.icon-driver-notes { font-size: 50px; font-size: 5rem; height: 1em; }
.icon-startask { font-size: 70px; font-size: 7rem; height: 0.58571em; }
.icon-inspire-me { font-size: 82px; font-size: 8.2rem; height: 0.31707em; }
.icon-ux-fox { font-size: 46px; font-size: 4.6rem; height: 1.08696em; }
.icon-phone, .icon-email, .icon-map { font-size: 20px; font-size: 2rem; height: 1em; }
.icon-ukr-map { font-size: 153px; font-size: 15.3rem; height: 0.65359em; }
.icon-questionnaire { font-size: 42px; font-size: 4.2rem; height: 1.42857em; }
.icon-birzool { font-size: 74px; font-size: 7.4rem; height: 0.21622em; }

.icon-business { background-image: url("../img/svg/gradient-icons/business.svg"); }

.icon-chart { background-image: url("../img/svg/gradient-icons/chart.svg"); }

.icon-clock { background-image: url("../img/svg/gradient-icons/clock.svg"); }

.icon-cloud { background-image: url("../img/svg/gradient-icons/cloud.svg"); }

.icon-computer { background-image: url("../img/svg/gradient-icons/computer.svg"); }

.icon-flag { background-image: url("../img/svg/gradient-icons/flag.svg"); }

.icon-graph { background-image: url("../img/svg/gradient-icons/graph.svg"); }

.icon-heart { background-image: url("../img/svg/gradient-icons/heart.svg"); }

.icon-person { background-image: url("../img/svg/gradient-icons/person.svg"); }

.icon-iphone { background-image: url("../img/svg/gradient-icons/iphone.svg"); }

.icon-settings { background-image: url("../img/svg/gradient-icons/settings.svg"); }

.icon-sofa { background-image: url("../img/svg/gradient-icons/sofa.svg"); }

.icon-stample { background-image: url("../img/svg/gradient-icons/stample.svg"); }

.icon-step { background-image: url("../img/svg/gradient-icons/step.svg"); }

.icon-store { background-image: url("../img/svg/gradient-icons/store.svg"); }

.icon-windows { background-image: url("../img/svg/gradient-icons/windows.svg"); }

.toparea { display: table; table-layout: fixed; border-collapse: collapse; width: 100%; height: 100%; height: 100vh; color: #FFF; background: url("../img/toparea-photo.jpg") no-repeat center center; background-size: cover; }
@media only screen and (max-width: 800px) { .toparea { display: block; height: auto; } }

.toparea__outer { position: relative; display: table-cell; width: 100%; height: 100%; vertical-align: middle; background: url("../img/toparea-mask.png") no-repeat center center; background-size: cover; }
@media only screen and (max-width: 800px) { .toparea__outer { display: block; height: auto; } }

.toparea__header { position: absolute; top: 0; left: 0; right: 0; text-align: center; padding-top: 40px; }
@media only screen and (max-width: 800px) { .toparea__header { position: static; } }

.toparea__inner { text-align: center; padding: 170px 0; }
.toparea__inner .video-link { margin-top: 5.42857em; }
@media only screen and (max-width: 800px) { .toparea__inner { padding: 0; margin: 80px 0; } }

.toparea__footer { position: absolute; bottom: 0; left: 0; right: 0; box-sizing: border-box; padding-bottom: 80px; text-align: center; }
.toparea__footer .arrows-down { display: inline-block; }
.toparea__footer .btn { display: none; margin: auto; margin-bottom: 80px; }
@media only screen and (max-width: 800px) { .toparea__footer { position: static; padding-bottom: 40px; }
  .toparea__footer .btn { display: block; } }

.header { position: relative; }
.header .menu { position: absolute; top: 50%; left: 0; margin-top: -0.5em; }
.header .btn { position: absolute; top: 50%; right: 0; margin-top: -1.42857em; }
.header .logo { vertical-align: top; }
@media only screen and (max-width: 800px) { .header .menu { position: relative; margin: 40px 0; }
  .header .btn { display: none; } }

.logo { display: inline-block; text-decoration: none; }
.logo .svg-icon { display: block; }

.menu { font-size: 14px; font-size: 1.4rem; line-height: 1.28; }

.menu__list { font-size: 0; }
.menu__list li { display: inline-block; vertical-align: middle; position: relative; margin-left: 2.14286em; font-size: 14px; font-size: 1.4rem; }
.menu__list li:before { content: "•"; position: absolute; top: 0; left: -1.28571em; font-size: 14px; font-size: 1.4rem; }
.menu__list li:first-child { margin-left: 0; }
.menu__list li:first-child:before { display: none; }
@media only screen and (max-width: 1000px) { .menu__list li { margin-left: 1.42857em; }
  .menu__list li:first-child { margin-left: 0; }
  .menu__list li:before { display: none; } }
@media only screen and (max-width: 800px) { .menu__list li:before { display: block; left: -0.92857em; } }

.menu__link { display: inline-block; color: inherit; text-decoration: none; font-family: "Kelson Sans Bold", "Trebuchet MS", "Arial", "sans-serif"; font-weight: normal; font-size: 14px; font-size: 1.4rem; color: #FFF; letter-spacing: 0.14286em; text-transform: uppercase; -webkit-transition: color 100 linear; transition: color 100 linear; }
.menu__link:after { content: ""; position: absolute; top: 100%; left: 0; right: 100%; height: 4px; background: #2196F3; font-size: 1em; margin-top: 0.85714em; -webkit-transition: right 0.2s ease; transition: right 0.2s ease; }
.menu__link:hover:after, .menu__link:focus:after { right: 0; }
.menu__link:active { color: #2196F3; }

.section { position: relative; padding: 80px 0; }

.section__separator { position: absolute; top: 0; left: 0; right: 0; text-align: center; }
.section__separator:before { content: ""; display: inline-block; vertical-align: top; width: 170px; height: 20px; background-image: url("../img/svg/icons-other/separator.svg"); }
.section__separator .icon { display: none; background: no-repeat center center; }

.section_bg { background: url("../img/bg.jpg") no-repeat center center; background-size: cover; color: #FFF; overflow: hidden; }

.section_footer { padding-bottom: 40px; }

.icons { font-size: 0px; font-size: 0rem; text-align: center; margin-top: -35px; }
@media only screen and (max-width: 900px) { .icons { max-width: 500px; margin-left: auto; margin-right: auto; }
  .icons .icons__item { width: 33.333%; } }
@media only screen and (max-width: 450px) { .icons { margin-top: 0; }
  .icons .icons__item { display: block; width: auto; }
  .icons .icons__item:first-child { margin-top: 0; } }

.icons__item { display: inline-block; vertical-align: top; width: 16.66667%; margin-top: 35px; box-sizing: border-box; font-size: 14px; font-size: 1.4rem; text-align: center; }

.photos { height: 300px; height: 30rem; font-size: 0; overflow: hidden; white-space: nowrap; }

.photos__inner { position: relative; }

.photos__block { display: inline-block; vertical-align: top; height: 300px; width: 300px; height: 30rem; width: 30rem; background: #333333; *zoom: 1; }
.photos__block:after { content: " "; display: table; clear: both; }

.photos__block-small { float: left; width: 33.33%; height: 33.33%; }

.photos__block-smaller { float: left; width: 50%; height: 50%; }

.features__text { margin: -35px -10px 0; font-size: 0px; font-size: 0rem; }

.features__text-column { display: inline-block; width: 25%; box-sizing: border-box; padding: 0 10px; margin-top: 35px; vertical-align: top; font-size: 14px; font-size: 1.4rem; }
@media only screen and (max-width: 1000px) { .features__text-column { width: 50%; } }
@media only screen and (max-width: 800px) { .features__text-column { width: 100%; } }

.helping { position: relative; margin: -40px 0; }
@media only screen and (max-width: 700px) { .helping { margin: 0; }
  .helping .helping__center { position: static; margin-top: 40px; padding: 0; } }

.helping__center { position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 300px; margin: auto; padding: 40px 0; text-align: center; font-size: 0; }
.helping__center:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.helping__center img { display: block; max-width: 100%; }

.helping__center-inner { display: inline-block; vertical-align: middle; font-size: 14px; font-size: 1.4rem; }

.helping__table { display: table; table-layout: fixed; border-collapse: collapse; width: 100%; }
@media only screen and (max-width: 400px) { .helping__table { display: block; max-width: 200px; margin: auto; } }

.helping__row { display: table-row; }
@media only screen and (max-width: 400px) { .helping__row { display: block; } }

.helping__cell { width: 50%; padding: 40px 80px 40px 180px; display: table-cell; vertical-align: middle; box-sizing: border-box; position: relative; text-align: right; }
.helping__cell .figure { display: block; position: static; text-align: right; }
.helping__cell .figure__icon { position: absolute; top: 50%; right: 0; margin-top: -30px; }
.helping__cell .figure__text { margin: 0; }
.helping__cell:first-child { padding-left: 80px; padding-right: 180px; text-align: left; }
.helping__cell:first-child .figure { text-align: left; }
.helping__cell:first-child .figure__icon { right: auto; left: 0; }
@media only screen and (max-width: 1000px) { .helping__cell { padding-right: 0; text-align: center; padding-top: 20px; padding-bottom: 20px; }
  .helping__cell .figure { text-align: center; }
  .helping__cell .figure__icon { position: static; margin-top: 0; }
  .helping__cell .figure__text { margin-top: 15px; }
  .helping__cell:first-child { padding-left: 0; }
  .helping__cell:first-child .figure { text-align: center; } }
@media only screen and (max-width: 700px) { .helping__cell { padding-left: 20px; padding-right: 0; }
  .helping__cell:first-child { padding-left: 0; padding-right: 20px; } }
@media only screen and (max-width: 400px) { .helping__cell { padding: 0; width: auto; display: block; margin-top: 40px; }
  .helping__cell:first-child { padding: 0; } }

.how { margin: 65px -17px; font-size: 0; }
.how .figure { min-height: 250px; }
@media only screen and (max-width: 1000px) { .how { margin-left: 0; margin-right: 0; }
  .how .how__column { display: block; width: auto; padding: 0; max-width: 50%; margin: 20px auto; }
  .how .how__column:first-child { margin-top: 0; }
  .how .how__column:last-child { margin-bottom: 0; }
  .how .how__column_double { margin-left: -10px; margin-right: -10px; max-width: none; *zoom: 1; }
  .how .how__column_double:after { content: " "; display: table; clear: both; }
  .how .how__cell { float: left; width: 50%; padding: 0 20px; margin: 0; }
  .how .how__arrow { display: none; }
  .how .how__arrow-hor { display: block; }
  .how .figure { text-align: left; position: relative; padding-left: 5.71429em; min-height: 0; }
  .how .figure__icon { position: absolute; top: 0; left: 0; }
  .how .figure__text { margin-top: 0; } }
@media only screen and (max-width: 600px) { .how .figure { padding-left: 0; text-align: center; }
  .how .figure__icon { position: static; }
  .how .figure__text { margin-top: 1.07143em; } }

.how__column { display: inline-block; vertical-align: middle; width: 20%; padding: 0 17px; box-sizing: border-box; font-size: 14px; font-size: 1.4rem; }

.how__cell { position: relative; margin-top: 2.85714em; box-sizing: border-box; font-size: 1em; }
.how__cell:first-child { margin-top: 0; }

.how__arrow { position: absolute; top: 2.14286em; right: -4.64286em; font-size: 1em; opacity: 0.5; }
.how__arrow:first-child { right: auto; left: -4.64286em; }

.how__arrow-hor { display: none; text-align: center; opacity: 0.5; }
.how__arrow-hor .icon-dotts-t-small, .how__arrow-hor .icon-dotts-b-small { display: none; }
@media only screen and (max-width: 450px) { .how__arrow-hor .icon-dotts-t, .how__arrow-hor .icon-dotts-b { display: none; }
  .how__arrow-hor .icon-dotts-t-small, .how__arrow-hor .icon-dotts-b-small { display: inline-block; } }

.examples { margin: 0 -10px -35px; font-size: 0px; font-size: 0rem; }
.examples .text { display: block; margin-top: 20px; }
@media only screen and (max-width: 1000px) { .examples { max-width: 480px; margin-left: auto; margin-right: auto; }
  .examples .examples__item { width: 33.33333%; } }
@media only screen and (max-width: 500px) { .examples { margin-left: -10px; margin-right: -10px; }
  .examples .examples__item { width: 50%; } }

.examples__item { display: inline-block; vertical-align: top; width: 16.66667%; margin-bottom: 35px; padding: 0 10px; box-sizing: border-box; font-size: 14px; font-size: 1.4rem; text-align: center; }

.steps { margin: 0 -10px; *zoom: 1; }
.steps:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 650px) { .steps { margin: auto; max-width: 350px; }
  .steps .steps__item { float: none; width: auto; padding: 0; margin-top: 35px; }
  .steps .steps__item:first-child { margin-top: 0; } }

.steps__item { float: left; width: 33.3333%; box-sizing: border-box; padding: 0 10px; }

.logos { font-size: 0; text-align: center; margin-bottom: -40px; }

.logos__item { width: 11.11111%; display: inline-block; vertical-align: middle; margin-bottom: 40px; }
@media only screen and (max-width: 1000px) { .logos__item { width: 20%; } }
@media only screen and (max-width: 600px) { .logos__item { width: 33.33333%; } }

.person { display: block; text-decoration: none; }

.person__photo { width: 7.14286em; height: 7.14286em; margin: auto; border-radius: 50%; overflow: hidden; }
.person__photo > img { display: block; max-width: 100%; max-height: 100%; }

.person__name { display: block; margin-top: 1.42857em; font-family: "Kelson Sans Bold", "Trebuchet MS", "Arial", "sans-serif"; font-weight: normal; text-transform: uppercase; letter-spacing: 0.14286em; }

.person__about { display: block; margin-top: 0.71429em; font-family: "Kelson Sans Light", "Trebuchet MS", "Arial", "sans-serif"; font-weight: normal; }

.review { text-align: center; }

.review__text { margin: 1.42857em 0 0; font-family: Georgia; font-style: italic; font-size: 18px; font-size: 1.8rem; line-height: 1.45; }

.review__arrow { position: relative; margin: 1.21429em auto 1.42857em; max-width: 16.85714em; height: 1.28571em; border-bottom: 2px solid #9CA5BF; }
.review__arrow:before, .review__arrow:after { content: ""; position: absolute; bottom: 0; left: 50%; width: 0px; height: 0px; border-style: solid; border-width: 0 18px 18px 18px; border-color: transparent transparent #9CA5BF transparent; margin-left: -18px; }
.review__arrow:after { border-bottom-color: #FFF; bottom: -3px; }

.slider-wrap { position: relative; margin: 80px 0 0; }

.slider { position: relative; padding-bottom: 40px; }

.slider__slide { padding: 0 40px; }

.slider__prev, .slider__next { background: none; position: absolute; padding: 15px; margin: -15px; top: 50%; }
.slider__prev .icon, .slider__next .icon { fill: #2196F3; -webkit-transition: all 0.1s ease; transition: all 0.1s ease; }
.slider__prev:hover .icon, .slider__prev:focus .icon, .slider__next:hover .icon, .slider__next:focus .icon { fill: #4CAF50; }
.slider__prev:active .icon, .slider__next:active .icon { fill: #106F13; }
@media only screen and (max-width: 800px) { .slider__prev, .slider__next { top: 31%; } }

.slider__prev { left: 0; }

.slider__next { right: 0; }

@media only screen and (max-width: 800px) { .form .form__three { margin-left: 0; margin-right: 0; }
  .form .form__three:after { display: none; }
  .form .form__three .form__field { float: none; width: auto; padding: 0; margin-top: 20px; }
  .form .form__three .form__field:first-child { margin-top: 0; } }

.form__three { margin: 0 -10px 20px; *zoom: 1; }
.form__three:after { content: " "; display: table; clear: both; }

.form__field { float: left; width: 33.33333%; box-sizing: border-box; padding: 0 10px; }

.form__footer { position: relative; margin-top: 20px; display: table; width: 100%; table-layout: fixed; text-align: center; }
@media only screen and (max-width: 700px) { .form__footer { display: block; padding-top: 40px; }
  .form__footer .form__footer-btn { position: absolute; top: 0; left: 0; right: 0; margin-top: 0; } }

.form__footer-cell { display: table-cell; vertical-align: middle; width: 33.33333%; padding: 0 10px; color: #9CA5BF; font-size: 12px; font-size: 1.2rem; line-height: 1.33; }
.form__footer-cell .btn { display: block; width: 100%; }
@media only screen and (max-width: 700px) { .form__footer-cell { display: block; width: auto; margin-top: 15px; } }

.contacts { margin: 80px -10px; *zoom: 1; }
.contacts:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 750px) { .contacts { max-width: 235px; margin-left: auto; margin-right: auto; }
  .contacts .contacts__column { float: none; width: auto; margin-top: 40px; }
  .contacts .contacts__column:first-child { margin-top: 0; }
  .contacts .contacts__column:last-child { text-align: center; }
  .contacts .map { position: relative; left: -0.71429em; } }

.contacts__column { float: left; width: 33.3333%; box-sizing: border-box; padding: 0 10px; }
.contacts__column:last-child { text-align: right; }

.contact { display: block; margin-top: 15px; text-decoration: none; padding-left: 2.14286em; position: relative; text-decoration: none; }
.contact:first-child { margin-top: 0; }
.contact .icon { position: absolute; top: 50%; left: 0; margin-top: -0.5em; fill: currentColor; }
.contact a[href^="tel"] { text-decoration: none; color: inherit; }

.map { position: relative; width: 10.92857em; height: 7.14286em; margin: auto; }
.map img { display: block; width: 100%; height: 100%; }
.map .icon { fill: #9CA5BF; }

.map__baloon { position: absolute; width: 10.83333em; box-sizing: border-box; bottom: 58.0%; right: 28.10458%; font-size: 12px; font-size: 1.2rem; line-height: 1.2; padding: 0.66667em 0.83333em; background: #333333; border-radius: 3px; color: #FFF; margin-right: -42.48366%; }
.map__baloon:after { content: ""; position: absolute; top: 100%; left: 50%; width: 0px; height: 0px; border-style: solid; border-width: 8px 10px 0 10px; border-color: #333333 transparent transparent transparent; margin-left: -10px; }

.link-form { display: inline-block; font-size: 14px; font-size: 1.4rem; width: 14.28571em; height: 7.14286em; line-height: 6.85714em; box-sizing: border-box; background: none; text-align: left; border: 2px solid #2196F3; color: #2196F3; border-radius: 10px; text-decoration: none; font-family: "Kelson Sans Regular", "Trebuchet MS", "Arial", "sans-serif"; font-weight: normal; -webkit-transition: all 0.1s ease; transition: all 0.1s ease; }
.link-form .icon { margin-right: 0.47619em; fill: #2196F3; float: left; -webkit-transition: all 0.1s ease; transition: all 0.1s ease; }
.link-form:hover, .link-form:focus { color: #FFF; background: #2196F3; }
.link-form:hover .icon, .link-form:focus .icon { fill: #FFF; }
.link-form:active { color: #FFF; background: #2868B3; border-color: #2868B3; }
.link-form:active .icon { fill: #FFF; }
.link-form:disabled, .link-form.is-inactive { color: #9CA5BF; border-color: #9CA5BF; }
.link-form:disabled .icon, .link-form.is-inactive .icon { fill: #9CA5BF; }

.link-form__inner { display: inline-block; vertical-align: middle; line-height: 1.5; padding: 0 0 0 1.42857em; *zoom: 1; }
.link-form__inner:after { content: " "; display: table; clear: both; }

.social-wrap { margin-top: 80px; }

.footer { position: relative; *zoom: 1; }
.footer:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 750px) { .footer .footer__left, .footer .footer__right { float: none; width: auto; padding: 0; text-align: center; margin-bottom: 10px; }
  .footer .footer__center { position: static; margin-top: 35px; } }

.footer__left { width: 50%; float: left; box-sizing: border-box; padding-right: 3.57143em; }

.footer__right { width: 50%; float: right; box-sizing: border-box; padding-left: 3.57143em; text-align: right; }

.footer__center { position: absolute; top: -0.21429em; left: 0; right: 0; width: 7.14286em; margin: auto; text-align: center; }



/*# sourceMappingURL=screen.css.map */