@keyframes arrow-anim
  0%
    fill: #9CA5BF
    transform: translateZ(0) scale(0.67)
  50%
    fill: #FFF
    transform: translateZ(0) scale(1)
  100%
    fill: #9CA5BF
    transform: translateZ(0) scale(0.67)

@keyframes arrow-anim-second
  0%
    fill: #FFF
    transform: translateZ(0) scale(1)
  50%
    fill: #9CA5BF
    transform: translateZ(0) scale(0.67)
  100%
    fill: #FFF
    transform: translateZ(0) scale(1)

