@keyframes arrow-anim
  0%, 40%, 100%
    opacity: 0.5
    transform: translateZ(0) scale(0.67)
  20%
    opacity: 1
    transform: translateZ(0) scale(1)


@keyframes photos
  0%
    transform: translate3d(0,0,0)
  49.95%
    transform: translate3d(-100%,0,0)
  50%
    transform: translate3d(100%,0,0)
  99.95%, 100%
    transform: translate3d(0,0,0)

@keyframes photos-cloned
  0%
    transform: translate3d(100%,0,0)
    z-index: 1
  49.95%, 50%
    transform: translate3d(0,0,0)
    z-index: 2
  99.95%
    transform: translate3d(-100%,0,0)
    z-index: 1
  100%
    transform: translate3d(100%,0,0)

@keyframes form-error
  0%, 100%
    transform: translateX(0)
  33.33%
    transform: translateX(3px)
  66.66%
    transform: translateX(-3px)

@keyframes spinner
  100%
    transform: rotate(360deg)