+font("Kelson Sans Bold", kelson_sans_bold_ru)
+font("Kelson Sans Light", kelson_sans_light_ru)
+font("Kelson Sans Regular", kelson_sans_regular_ru)


=regular
  font-family: "Kelson Sans Regular", "Trebuchet MS", "Arial", "sans-serif"
  font-weight: normal
=light
  font-family: "Kelson Sans Light", "Trebuchet MS", "Arial", "sans-serif"
  font-weight: normal
=bold
  font-family: "Kelson Sans Bold", "Trebuchet MS", "Arial", "sans-serif"
  font-weight: normal

=trans($property: all, $duration: 0.1s, $easing: ease)
  transition: $property $duration $easing



=tablet
  +r(1000)
    @content

=mobile
  +r(800)
    @content

@function image-url($image)
  @return url('../img/#{$image}')





html
  font-size: 62.5%

body
  min-width: 320px
  color: $main
  +regular
  +fs(14)
  line-height: 1.43


a
  color: $interactive

.svg-sprite
  display: none !important






//------------------------------------------------------------------------------
//
//    #blocks
//
//------------------------------------------------------------------------------

.heading
  display: block
  text-align: center
  max-width: 770px
  margin: 0 auto 35px
  +light
  +fs(32)
  line-height: 1.33
  color: $main

.heading_toparea
  +fs(40)
  color: #FFF


.subtitle
  display: inline-block
  line-height: 1.5
  +regular

.subtitle_toparea
  display: block
  margin-top: (40/14)+em
  opacity: 0.75


.title
  display: block
  margin: 80px 0 40px
  text-align: center
  +bold
  +fs(14)
  color: $passive
  text-transform: uppercase
  line-height: 1.28
  letter-spacing: (2/14)+em
  &:first-child
    margin-top: 0
  &:before,
  &:after
    content: "•"
    display: inline-block
  &:before
    margin-right: 1em
  &:after
    margin-left: 1em


.btn
  display: inline-block
  box-sizing: border-box
  height: (40/14)+em
  padding: 0 (20/14)+em
  background: none
  border-radius: (20/14)+em
  // border: 2px solid #FFF
  box-shadow: inset 0 0 0 2px #FFF
  +fs(14)
  +regular
  color: #FFF
  text-decoration: none
  text-align: center
  +text-overflow
  +trans(all, 0.2s, linear)
  &:hover, &:focus
    // background: #FFF
    box-shadow: inset 0 0 0 50px #FFF
    color: $main
  &:active
    color: #FFF
    background: $active
    box-shadow: none
    // border-color: $active

  .ie8 &
    padding: 0 (18/14)+em
    border: 2px solid #FFF
    &:hover
      background: #FFF


.video-link
  display: inline-block
  +bold
  +fs(14)
  line-height: 1.28
  color: #FFF
  text-decoration: none
  text-transform: uppercase
  +trans
  > span
    display: inline-block
    vertical-align: middle
  .icon
    position: relative
    vertical-align: middle
    top: (-2/30)+em
    margin-right: (9/30)+em
    +trans
  &:hover, &:focus
    color: $interactive
    .icon
      fill: $interactive


.arrows-down
  display: inline-block
  background: none
  > .icon
    display: block
    margin: auto
    &:first-child
      // fill: #9CA5BF
      animation: arrow-anim 2s ease infinite
    &:last-child
      animation: arrow-anim-second 2s ease infinite


.text
  line-height: 1.7
  a
    text-decoration: none
    &:hover
      text-decoration: underline

.text_center
  text-align: center
  margin: 40px 0

.text_light
  +light


.figure
  display: block
  text-align: center
  +fs(14)

.figure__icon
  display: block
  min-height: 60px
  line-height: 60px
  font-size: 0
  .icon
    vertical-align: middle

.figure__text
  display: block
  margin-top: 15px
  +fs(14)
  line-height: 1.43
  +bold
  letter-spacing: (2/14)+em
  text-transform: uppercase
