+font("Kelson Sans Bold", kelson_sans_bold_ru)
+font("Kelson Sans Light", kelson_sans_light_ru)
+font("Kelson Sans Regular", kelson_sans_regular_ru)


=regular
  font-family: "Kelson Sans Regular", "Trebuchet MS", "Arial", "sans-serif"
  font-weight: normal
=light
  font-family: "Kelson Sans Light", "Trebuchet MS", "Arial", "sans-serif"
  font-weight: normal
=bold
  font-family: "Kelson Sans Bold", "Trebuchet MS", "Arial", "sans-serif"
  font-weight: normal

=trans($property: all, $duration: 0.200s, $easing: ease)
  transition: $property $duration $easing



=tablet
  +r(900)
    @content

=mobile
  +r(750)
    @content

=wide
  +rmin(1201)
    @content

@function image-url($image)
  @return url('../img/#{$image}')

@function em($size, $context: 14)
  @return ($size/$context)+em





html
  font-size: 62.5%
  +wide
    font-size: 0.84vw

body
  min-width: 320px
  color: $main
  +regular
  +fs(14)
  line-height: 1.43
  &.no-scroll
    height: 100%
    overflow: hidden
    left: 0
    right: 0

.out
  overflow: hidden

a
  color: $interactive

.svg-sprite
  position: absolute !important
  width: 0 !important
  height: 0 !important
  overflow: hidden !important

.js-fade, .js-fade-delay
  transition: opacity 1s ease






//------------------------------------------------------------------------------
//
//    #blocks
//
//------------------------------------------------------------------------------

.heading
  display: block
  text-align: center
  max-width: em(770,32)
  margin: 0 auto em(35,32)
  +light
  +fs(32)
  line-height: 1.33
  color: inherit

.heading_toparea
  +fs(40)
  color: #FFF


.subtitle
  display: inline-block
  line-height: 1.5
  +regular
  color: $passive

.subtitle_toparea
  display: block
  margin-top: em(35)
  opacity: 0.75
  color: #FFF


.title
  display: block
  position: relative
  margin: em(75) 0 em(35)
  text-align: center
  +bold
  +fs(14)
  color: $passive
  text-transform: uppercase
  line-height: 1.5
  letter-spacing: (2/14)+em
  .section > &:first-child
    margin-top: 0
  .section .js-fade:first-child > &
    margin-top: 0
  .title__text
    display: inline-block
    padding: 0 em(24)
    position: relative
    &:before,
    &:after
      content: "•"
      position: absolute
      top: 50%
      left: 0
      margin-top: -0.75em
    &:after
      left: auto
      right: 0
  +r(750)
    .title__text
      padding: 0
      &:before,
      &:after
        display: none


.btn
  display: inline-block
  box-sizing: border-box
  height: em(40)
  padding: 0 em(20)
  background: none
  border-radius: em(20)
  box-shadow: inset 0 0 0 2px #FFF
  +fs(14)
  +regular
  color: #FFF
  text-decoration: none
  text-align: center
  +text-overflow
  +trans(all, 0.200s, linear)
  &:hover
    box-shadow: inset 0 0 0 em(50) #FFF
    color: $main
  &:active
    color: #FFF
    background: $active
    box-shadow: none

  .ie8 &
    padding: 0 em(18)
    line-height: em(36)
    border: 2px solid #FFF
    &:hover
      background: #FFF

a.btn
  line-height: em(41)

.btn_green
  background: $action
  box-shadow: none
  &:hover
    background: $hover-green
    box-shadow: none
    color: #FFF
  &:active
    background: $active-green

.is-error .btn
  background: $alert


.link
  display: inline-block
  position: relative
  text-decoration: none
  color: $interactive
  +trans(color)
  &:before
    content: ""
    position: absolute
    top: 50%
    left: 0
    right: 100%
    height: em(2)
    background: $action
    margin-top: em(8)
    +trans(all)
  &:hover, &:focus
    color: $action
    text-decoration: none
    &:before
      right: 0
      background: $action

.link__arrow
  speak: none
  position: absolute
  top: 50%
  right: 0
  right: 0
  +fs(10)
  width: 1em
  height: 1em
  margin-top: -0.6em
  background: no-repeat center center
  background-image: url('../img/link.svg')
  background-size: cover
  &:before
    content: ""
    position: absolute
    opacity: 0
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: no-repeat center center
    background-image: url('../img/link-hover.svg')
    background-size: cover
    +trans(opacity)
  .ie8 &
    +sprite(link)
    &:before
      +sprite(link-hover)


.link_icon
  padding-right: em(14)
  &:before
    background: $interactive
  // &:after
  //   content: ""
  //   display: block
  //   position: absolute
  //   top: 50%
  //   right: 0
  //   +fs(10)
  //   width: 1em
  //   height: 1em
  //   margin-top: -0.6em
  //   background: no-repeat center center
  //   background-image: url('../img/link.svg')
  //   background-size: cover
  //   .ie8 &
  //     +sprite(link)
  &:hover, &:focus
    text-decoration: none
    .link__arrow:before
      opacity: 1



.video-link
  display: inline-block
  +bold
  +fs(14)
  line-height: 1.28
  color: #FFF
  background: none
  text-decoration: none
  text-transform: uppercase
  padding: em(26) em(33)
  margin: em(-26) em(-33)
  +trans
  > span
    display: inline-block
    vertical-align: middle
  .icon
    position: relative
    vertical-align: middle
    top: em(-2,30)
    margin-right: em(9,30)
    +trans
  &:hover, &:focus
    color: $interactive
    .icon
      fill: $interactive

.arrows-down
  display: inline-block
  background: none
  padding: 23px 38px
  margin: -23px -38px
  > .icon
    display: block
    margin: auto
    &:first-child
      animation: arrow-anim 0.9s linear infinite
    &:last-child
      animation: arrow-anim 0.9s linear infinite 0.2s
  &:hover
    > .icon
      fill: $interactive
  .no-scroll &
    > .icon
      transform: scale(0.67)
      &:first-child
        animation: none
      &:last-child
        animation: none


.text
  line-height: 1.7

.text_center
  text-align: center
  margin: 40px 0
  &:first-child
    margin-top: 0
  &:last-child
    margin-bottom: 0

.text_light
  +light


.figure
  display: block
  text-align: center
  +fs(14)

.figure__icon
  display: block
  min-height: 60px
  line-height: 60px
  .icon
    vertical-align: middle

.figure__text,
.figure__text-small
  display: block
  margin-top: em(15)
  +fs(14)
  line-height: 1.7

.figure__text
  +bold
  letter-spacing: em(2)
  text-transform: uppercase
  + .figure__text-small
    margin-top: em(10)

.figure__text-small
  +light

.figure_regular
  .figure__text-small
    +regular

.big-btn
  display: block
  width: 100%
  margin: auto
  max-width: em(140)
  height: em(84)
  line-height: em(84)
  box-sizing: border-box
  border-radius: 10px
  overflow: hidden
  color: inherit
  +fs(14)
  +regular
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  +trans
  .icon-play
    +fs(40)

.big-btn__inner
  display: inline-block

.big-btn_video
  position: relative
  .icon
    +trans
  &:after
    content: ""
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: none
    border-radius: 10px
    +trans
  &:hover, &:focus, &:active
    box-shadow: inset 0 0 0 em(5) $interactive
    .icon
      fill: $interactive
  &:active
    &:after
      background: rgba(#FFF, 0.4)

.big-btn_file
  background: none
  border: 2px solid #FFF
  text-align: center
  line-height: em(82)
  &:hover, &:focus
    background: $interactive
    border-color: $interactive
  &:active
    background: $active
    border-color: $active


.file-name
  display: inline-block
  vertical-align: middle
  line-height: 1.7
  color: inherit
  +fs(14)
  small
    font-size: 1em
    display: block
    +light


.step
  +fs(14)
  line-height: 1.7
  +clr

.step__num
  display: block
  float: left
  width: em(40,18)
  height: em(40,18)
  font-size: em(18)
  line-height: em(36,18)
  box-sizing: border-box
  +bold
  border-radius: 50%
  border: 2px solid
  text-align: center
  > span
    display: inline-block
    vertical-align: middle

.step__text
  display: block
  font-size: 1em
  padding-left: em(60)


.field
  position: relative
  box-sizing: border-box
  border: 1px solid $passive
  border-radius: 4px
  &.is-error
    .field__back
      opacity: 1
      background: $error
      box-shadow: none

.field__back
  opacity: 0
  content: ""
  position: absolute
  top: -2px
  left: -2px
  bottom: -2px
  right: -2px
  background: #FFF
  box-shadow: 0px 0px 10px 0px #87CAFF
  border-radius: 4px
  background: linear-gradient(to bottom, #4B81FF, #3DC4FF)
  +trans
  .field__input:focus ~ &
    opacity: 1

.field__input
  display: block
  position: relative
  z-index: 1
  width: 100%
  padding: em(10)
  margin: 0
  box-sizing: border-box
  background: #FFF
  +light
  +fs(14)
  color: $main
  border: 0
  border-radius: 3px
  +placeholder
    +light
    +fs(14)
    color: $passive
    +trans(opacity)
  &:focus
    +placeholder
      opacity: 0.5

  .ie8 &
    border: 2px solid $passive

textarea.field__input
  resize: none
  border-top-width: 0
  border-bottom-width: 0


.error
  position: absolute
  z-index: 1
  left: 0
  right: 0
  bottom: 100%
  max-width: em(310,12)
  margin-left: auto
  margin-right: auto
  padding: em(6,12) em(10,12)
  background: $error
  border-radius: 3px
  +fs(12)
  line-height: 1.5
  color: #FFF
  text-align: center
  visibility: hidden
  opacity: 0
  transform: translateY(100%)
  transition: all 0.200s ease
  &:before
    content: ""
    position: absolute
    top: 100%
    left: 50%
    +arr(20,8,$error,b)
    margin-left: -10px
  .field &
    left: -2px
    right: -2px
    margin-bottom: 15px
  .is-error > &
    visibility: visible
    transform: translateY(0)
    opacity: 1

  .ie-8 &
    display: none
    .is-error > &
      display: block



.logo-link
  display: block
  text-decoration: none
  .icon
    fill: $passive
    +trans
  &:hover, &:focus
    .icon
      fill: #4A90E2