+font("Kelson Sans Bold", kelson_sans_bold_ru)
+font("Kelson Sans Light", kelson_sans_light_ru)
+font("Kelson Sans Regular", kelson_sans_regular_ru)


=regular
  font-family: "Kelson Sans Regular", "Trebuchet MS", "Arial", "sans-serif"
  font-weight: normal
=light
  font-family: "Kelson Sans Light", "Trebuchet MS", "Arial", "sans-serif"
  font-weight: normal
=bold
  font-family: "Kelson Sans Bold", "Trebuchet MS", "Arial", "sans-serif"
  font-weight: normal

=trans($property: all, $duration: 0.1s, $easing: ease)
  transition: $property $duration $easing



=tablet
  +r(1000)
    @content

=mobile
  +r(800)
    @content

@function image-url($image)
  @return url('../img/#{$image}')

@function em($size, $context: 14)
  @return ($size/$context)+em





html
  font-size: 62.5%

body
  min-width: 320px
  color: $main
  +regular
  +fs(14)
  line-height: 1.43

.out
  overflow: hidden

a
  color: $interactive

.svg-sprite
  width: 0 !important
  height: 0 !important
  overflow: hidden






//------------------------------------------------------------------------------
//
//    #blocks
//
//------------------------------------------------------------------------------

.heading
  display: block
  text-align: center
  max-width: 770px
  margin: 0 auto 35px
  +light
  +fs(32)
  line-height: 1.33
  color: inherit

.heading_toparea
  +fs(40)
  color: #FFF


.subtitle
  display: inline-block
  line-height: 1.5
  +regular

.subtitle_toparea
  display: block
  margin-top: (40/14)+em
  opacity: 0.75


.title
  display: block
  position: relative
  margin: 80px 0 40px
  text-align: center
  +bold
  +fs(14)
  color: $passive
  text-transform: uppercase
  line-height: 1.5
  letter-spacing: (2/14)+em
  &:first-child
    margin-top: 0
  .title__text
    display: inline-block
    padding: 0 em(24)
    position: relative
    &:before,
    &:after
      content: "•"
      position: absolute
      top: 50%
      left: 0
      margin-top: -0.75em
    &:after
      left: auto
      right: 0
  +r(750)
    .title__text
      padding: 0
      &:before,
      &:after
        display: none


.btn
  display: inline-block
  box-sizing: border-box
  height: (40/14)+em
  padding: 0 (20/14)+em
  background: none
  border-radius: (20/14)+em
  // border: 2px solid #FFF
  box-shadow: inset 0 0 0 2px #FFF
  +fs(14)
  +regular
  color: #FFF
  text-decoration: none
  text-align: center
  +text-overflow
  +trans(all, 0.2s, linear)
  &:hover, &:focus
    // background: #FFF
    box-shadow: inset 0 0 0 50px #FFF
    color: $main
  &:active
    color: #FFF
    background: $active
    box-shadow: none
    // border-color: $active

  .ie8 &
    padding: 0 (18/14)+em
    border: 2px solid #FFF
    &:hover
      background: #FFF

.btn_green
  background: $action
  box-shadow: none
  &:hover, &:focus
    background: $hover-green
    box-shadow: none
    color: #FFF
  &:active
    background: $active-green


.link
  display: inline-block
  position: relative
  text-decoration: none
  color: $interactive
  +trans(color)
  &:before
    content: ""
    position: absolute
    top: 50%
    left: 0
    right: 100%
    height: 4px
    background: $action
    margin-top: em(8)
    +tr(right 0.2s ease)
  &:hover, &:focus
    color: $action
    text-decoration: none
    &:before
      right: 0

.link_icon
  padding-right: em(14)
  &:before
    background: $interactive
  &:after
    content: ""
    display: block
    position: absolute
    top: 50%
    right: 0
    +fs(10)
    width: 1em
    height: 1em
    margin-top: -0.7em
    background: no-repeat center center
    background-image: url('../img/svg/icons-other/link.svg')
  &:hover, &:focus
    color: $interactive
    text-decoration: none
    &:before
      right: em(14)






.video-link
  display: inline-block
  +bold
  +fs(14)
  line-height: 1.28
  color: #FFF
  text-decoration: none
  text-transform: uppercase
  +trans
  > span
    display: inline-block
    vertical-align: middle
  .icon
    position: relative
    vertical-align: middle
    top: (-2/30)+em
    margin-right: (9/30)+em
    +trans
  &:hover, &:focus
    color: $interactive
    .icon
      fill: $interactive


.arrows-down
  display: inline-block
  background: none
  > .icon
    display: block
    margin: auto
    &:first-child
      // fill: #9CA5BF
      animation: arrow-anim 2s ease infinite
    &:last-child
      animation: arrow-anim-second 2s ease infinite


.text
  line-height: 1.7

.text_center
  text-align: center
  margin: 40px 0
  &:first-child
    margin-top: 0
  &:last-child
    margin-bottom: 0

.text_light
  +light


.figure
  display: block
  text-align: center
  +fs(14)

.figure__icon
  display: block
  min-height: 60px
  line-height: 60px
  font-size: 0
  .icon
    vertical-align: middle

.figure__text,
.figure__text-small
  display: block
  margin-top: em(15)
  +fs(14)
  line-height: 1.7

.figure__text
  +bold
  letter-spacing: em(2)
  text-transform: uppercase
  + .figure__text-small
    margin-top: em(10)

.figure__text-small
  +light

.figure_regular
  .figure__text-small
    +regular

.big-btn
  display: block
  width: 100%
  margin: auto
  max-width: em(140)
  height: em(84)
  line-height: em(84)
  box-sizing: border-box
  border-radius: 10px
  overflow: hidden
  color: inherit
  +fs(14)
  +regular
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  +trans
  .icon-play
    +fs(40)

.big-btn__inner
  display: inline-block

.big-btn_video
  position: relative
  &:after
    content: ""
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: none
    border-radius: 10px
    +trans
  &:hover, &:focus, &:active
    box-shadow: inset 0 0 0 5px #FFF
  &:active
    &:after
      background: rgba(#FFF, 0.4)

.big-btn_file
  background: none
  border: 2px solid #FFF
  text-align: center
  line-height: em(82)
  &:hover, &:focus
    background: $interactive
    border-color: $interactive
  &:active
    background: $active
    border-color: $active


.file-name
  display: inline-block
  vertical-align: middle
  line-height: 1.7
  color: inherit
  +fs(14)
  small
    font-size: 1em
    display: block
    +light


.step
  +fs(14)
  line-height: 1.7
  +clr

.step__num
  display: block
  float: left
  width: em(40,18)
  height: em(40,18)
  font-size: em(18)
  line-height: em(36,18)
  box-sizing: border-box
  +bold
  border-radius: 50%
  border: 2px solid
  text-align: center
  > span
    display: inline-block
    vertical-align: middle

.step__text
  display: block
  font-size: 1em
  padding-left: em(60)


.field
  position: relative
  box-sizing: border-box
  border: 1px solid $passive
  border-radius: 4px
  &.is-error
    .field__back
      opacity: 1
      background: $error
      box-shadow: none

.field__back
  opacity: 0
  content: ""
  position: absolute
  top: -2px
  left: -2px
  bottom: -2px
  right: -2px
  background: #FFF
  box-shadow: 0px 0px 10px 0px #87CAFF
  border-radius: 4px
  background: linear-gradient(to bottom, #4B81FF, #3DC4FF)
  +trans
  .field__input:focus ~ &
    opacity: 1

.field__input
  display: block
  position: relative
  z-index: 1
  width: 100%
  padding: em(10)
  margin: 0
  box-sizing: border-box
  background: #FFF
  +light
  +fs(14)
  color: $main
  border: 0
  border-radius: 3px
  +placeholder
    +light
    +fs(14)
    color: $passive

textarea.field__input
  resize: none
  border-top-width: 0
  border-bottom-width: 0

.logo-link
  display: block
  text-decoration: none
  .icon
    fill: $passive
    +trans
    &:hover
      fill: #4A90E2