=size($width, $height)
  font-size: $width + px
  font-size: ($width / 10)+rem
  height: ($height / $width)+em

svg
  fill: inherit
  *
    fill: inherit

.icon
  display: inline-block
  vertical-align: middle
  background-repeat: no-repeat
  background-position: center center
  width: 1em
  fill: #FFF
  svg
    display: block
    width: 100%
    height: 100%

  &-logo
    +size(100,72)
  &-play
    +size(30,20)
  &-arrow
    +size(43,24)

  &-cloud
    +size(60,49)
  &-computer
    +size(60,54)
  &-phone
    +size(36,60)
  &-stample
    +size(52,60)
  &-store
    +size(60,53)
  &-windows
    +size(60,50)
  &-step
    +size(60,60)
  &-business
    +size(60,60)
  &-separator
    fill: initial
    +size(170,20)
    svg *
      fill: initial
  &-graph,
  &-chart,
  &-settings,
  &-sofa,
  &-flag,
  &-heart,
  &-clock,
  &-person
    +size(60,60)

@function gradient-icon($name)
  @return url("../img/svg/gradient-icons/#{$name}.svg")

@each $i in business,chart,clock,cloud,computer,flag,graph,heart,person,phone,settings,sofa,stample,step,store,windows
  .icon-#{$i}
    background-image: gradient-icon(#{$i})
