$main-padding: 40px
.l
  max-width: 940px
  padding: 0 $main-padding
  margin: auto
  +r(600)
    padding: 0 20px

.l-columns
  margin: 0 -10px
  +clr
  .column
    float: left
    width: 50%
    padding: 0 10px
    box-sizing: border-box

.l-columns_four
  .column
    width: 25%