.toparea
  display: table
  table-layout: fixed
  border-collapse: collapse
  border-spacing: 0
  width: 100%
  height: 100%
  height: 100vh
  color: #FFF
  background: image-url('toparea.jpg') no-repeat center center
  background-size: cover
  position: relative
  z-index: 10
  +mobile
    display: block
    height: auto


.toparea__outer
  position: relative
  display: table-cell
  width: 100%
  height: 100%
  vertical-align: middle
  // background: url('../img/toparea-mask.png') no-repeat center center
  background-size: cover
  +mobile
    display: block
    height: auto
    background: none

.toparea__video
  position: absolute
  z-index: 0
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: hidden
  // &:before
  //   content: ""
  //   position: absolute
  //   z-index: 1
  //   top: 0
  //   left: 0
  //   right: 0
  //   bottom: 0
  //   background: url('../img/toparea-mask.png') no-repeat center center
  //   background-size: cover
  video
    position: relative
    z-index: 0
    min-width: 100%
    min-height: 100%
  +r(1024)
    display: none

.toparea__header
  position: absolute
  z-index: 3
  top: 0
  left: 0
  right: 0
  text-align: center
  +mobile
    padding-top: em(40)
    position: static

.toparea__inner
  text-align: center
  padding: 170px 0
  position: relative
  z-index: 1
  .video-link
    margin-top: em(50)
  +mobile
    padding: 0
    margin: 80px 0

.toparea__footer
  position: absolute
  z-index: 1
  bottom: 0
  left: 0
  right: 0
  box-sizing: border-box
  padding-bottom: 80px
  text-align: center
  .arrows-down
    display: inline-block
  +mobile
    position: static
    padding-bottom: 40px

.toparea__footer-btn
  display: none
  margin: auto
  margin-bottom: 80px
  text-align: center
  .btn
    vertical-align: top
  +mobile
    display: block


.header
  position: relative
  .l
    position: relative
  .menu
    position: absolute
    top: 0
    left: 0
    margin-left: em(40)
  .btn
    position: absolute
    top: 50%
    right: 40px
    margin-top: (-20/14)+em
  .logo
    vertical-align: top
  +mobile
    margin-bottom: em(-20)
    .menu
      position: static
      margin: em(20) 0
    .btn
      display: none

  &.is-fixed
    position: fixed
    z-index: 100
    top: em(-100)
    left: 0
    right: 0
    min-width: 320px
    margin: 0
    background: #FFF
    color: $passive
    opacity: 0
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.10)
    transition: all 0.3s ease
    .menu__link
      line-height: em(60)
      color: $passive
      &:before
        background: $passive
      &:hover
        color: $interactive
      &:active
        color: $active
    .btn
      background: $action
      box-shadow: none
      &:hover
        background: $hover-green
        box-shadow: none
        color: #FFF
      &:active, &.is-active
        background: $active-green
    .logo
      line-height: em(60)
      width: auto
      .icon-logo
        display: none
      .icon-logo-small
        display: inline-block
    +mobile
      .menu
        margin: 0
      .logo
        display: none
    &.is-visible
      opacity: 1
      top: 0



.logo
  display: inline-block
  text-decoration: none
  width: em(176)
  line-height: em(150)
  .icon
    +trans
  .icon-logo
    fill: #FFF
  .icon-logo-small
    display: none
    fill: $main
  &:hover
    .icon
      fill: $interactive
  +mobile
    line-height: em(60)
    width: auto

.menu
  +fs(14)

.menu__list
  font-size: 0
  li
    display: inline-block
    vertical-align: middle
    position: relative
    // margin-left: em(30)
    +fs(14)
    &:first-child
      margin-left: em(-15)
      .menu__link
        &:before
          display: none
      +tablet
        margin-left: em(-10)
      +mobile
        margin-left: em(-8)
    &:last-child
      margin-right: em(-15)
      +tablet
        margin-right: em(-10)
      +mobile
        margin-right: em(-8)
    // &:before
    //   content: "•"
    //   position: absolute
    //   top: 50%
    //   left: em(-18)
    //   margin-top: em(-8)
    //   +fs(14)
    // &:first-child
    //   margin-left: 0
    //   &:before
    //     display: none
  // +tablet
  //   li
  //     margin-left: em(15)
  //     &:first-child
  //       margin-left: 0
  //     &:before
  //       left: em(-11)
  // +mobile
  //   li
  //     &:before
  //       display: block
  //       left: em(-13)

.menu__link
  display: inline-block
  position: relative
  line-height: em(150)
  padding: 0 em(15)
  color: inherit
  text-decoration: none
  +bold
  +fs(14)
  color: #FFF
  letter-spacing: em(2)
  text-transform: uppercase
  +trans(color)
  &:before
    content: ""
    position: absolute
    top: 50%
    left: 0
    width: em(3)
    height: em(3)
    border-radius: 50%
    background: #FFF
    margin: em(-1.5) 0 0 em(-1.5)
  > span
    display: inline-block
    vertical-align: middle
    line-height: em(60)
    position: relative
    &:after
      content: ""
      position: absolute
      bottom: 0
      left: 0
      right: 100%
      height: em(4)
      background: $interactive
      font-size: 1em
      margin-top: em(15)
      +trans(right)
  &:hover, &.is-active
    span:after
      right: em(2)
  &:active
    color: $interactive
  +tablet
    padding-left: em(8)
    padding-right: em(8)
    &:before
      display: none
  +mobile
    padding-left: em(10)
    padding-right: em(10)
    line-height: em(60)
    &:before
      display: block


.section
  position: relative
  padding: em(75) 0

.section__separator
  position: absolute
  top: -10px
  left: 0
  right: 0
  text-align: center
  &:before
    content: ""
    display: inline-block
    vertical-align: top
    width: em(170)
    height: em(20)
    background-image: url('../img/svg/icons-other/separator.svg')
    background-size: cover
  // .icon
  //   display: none
  //   background: no-repeat center center

.section_bg
  background: url('../img/bg.jpg') no-repeat center center
  background-size: cover
  color: #FFF
  overflow: hidden
  +tablet
    background-image: url('../img/bg-md.jpg')
  +mobile
    background-image: url('../img/bg-sm.jpg')

.section_footer
  padding-bottom: 40px


.icons
  +fs(0)
  text-align: center
  margin-top: -35px
  +r(900)
    max-width: 500px
    margin-left: auto
    margin-right: auto
    .icons__item
      width: 33.333%
  +r(450)
    margin-top: 0
    .icons__item
      display: block
      width: auto
      &:first-child
        margin-top: 0

.icons__item
  display: inline-block
  vertical-align: top
  width: (100%/6)
  margin-top: 35px
  box-sizing: border-box
  +fs(14)
  text-align: center


.photos
  position: relative
  z-index: 0
  height: em(300)
  overflow: hidden

.photos__inner
  position: absolute
  z-index: 1
  top: 0
  left: 0
  width: em(2400)
  margin: auto
  animation-fill-mode: backwards
  +clr
  .is-redy &
    &:first-child
      animation: photos 60s linear infinite
    &:nth-child(2)
      z-index: 2
      animation: photos-cloned 60s linear infinite

.photos__box
  float: left
  height: em(300)
  width: em(300)
  background: $main
  overflow: hidden
  +clr

.photos__box_md
  .photo
    width: 50%
    height: 50%

.photos__box_sm
  .photo
    width: 33.333%
    height: 33.333%

.photo
  float: left
  width: 100%
  height: 100%
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  img
    display: block
    max-width: 100%
    max-height: 100%
    width: 100%
    height: 100%


.features__text
  margin: -35px -10px 0
  +fs(0)

.features__text-column
  display: inline-block
  width: 25%
  box-sizing: border-box
  padding: 0 10px
  margin-top: 35px
  vertical-align: top
  +fs(14)
  +tablet
    width: 50%
  +mobile
    width: 100%


.helping
  position: relative
  margin: -40px 0
  +r(700)
    margin: 0
    .helping__center
      position: static
      margin-top: 40px
      padding: 0

.helping__center
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  width: percentage(300/940)
  min-width: 300px
  margin: auto
  padding: 40px 0
  +vertical
  white-space: nowrap
  img
    display: block
    max-width: 100%
  // pointer-events: none

.helping__center-inner
  display: inline-block
  vertical-align: middle
  white-space: normal
  overflow: hidden
  +fs(14)

.helping__table
  display: table
  table-layout: fixed
  border-collapse: collapse
  width: 100%
  +r(400)
    display: block
    max-width: 200px
    margin: auto

.helping__row
  display: table-row
  +r(400)
    display: block

.helping__cell
  width: 50%
  padding: em(40) em(80) em(40) em(180)
  display: table-cell
  vertical-align: middle
  box-sizing: border-box
  position: relative
  text-align: right
  .figure
    display: block
    position: static
    text-align: right
  .figure__icon
    position: absolute
    top: 50%
    right: 0
    margin-top: em(-30)
  .figure__text
    margin: 0
  &:first-child
    padding-left: em(80)
    padding-right: em(180)
    text-align: left
    .figure
      text-align: left
    .figure__icon
      right: auto
      left: 0
  +tablet
    padding-right: 0
    text-align: center
    padding-top: 20px
    padding-bottom: 20px
    .figure
      text-align: center
    .figure__icon
      position: static
      margin-top: 0
    .figure__text
      margin-top: 15px
    &:first-child
      padding-left: 0
      .figure
        text-align: center
  +r(700)
    padding-left: 20px
    padding-right: 0
    &:first-child
      padding-left: 0
      padding-right: 20px
  +r(400)
    padding: 0
    width: auto
    display: block
    margin-top: 40px
    &:first-child
      padding: 0


.how
  margin: 65px -17px
  font-size: 0
  .figure
    min-height: 250px
  +r(1000)
    margin-left: 0
    margin-right: 0
    .how__column
      display: block
      width: auto
      padding: 0
      max-width: 50%
      margin: 20px auto
      &:first-child
        margin-top: 0
      &:last-child
        margin-bottom: 0
    .how__column_double
      margin-left: -10px
      margin-right: -10px
      max-width: none
      +clr
    .how__cell
      float: left
      width: 50%
      padding: 0 20px
      margin: 0
    .how__arrow
      display: none
    .how__arrow-hor
      display: block

    .figure
      text-align: left
      position: relative
      padding-left: em(80)
      min-height: 0
    .figure__icon
      position: absolute
      top: 0
      left: 0
    .figure__text
      margin-top: 0
  +r(600)
    .figure
      padding-left: 0
      text-align: center
    .figure__icon
      position: static
    .figure__text
      margin-top: em(15)

.how__column
  display: inline-block
  vertical-align: middle
  width: 20%
  padding: 0 17px
  box-sizing: border-box
  +fs(14)

.how__cell
  position: relative
  margin-top: em(40)
  box-sizing: border-box
  font-size: 1em
  &:first-child
    margin-top: 0

.how__arrow
  $left: em(-65)
  position: absolute
  top: em(30)
  right: $left
  font-size: 1em
  opacity: 0.5
  &:first-child
    right: auto
    left: $left

.how__arrow-hor
  display: none
  text-align: center
  opacity: 0.5
  .icon-dotts-t-small,
  .icon-dotts-b-small
    display: none
  +r(450)
    .icon-dotts-t,
    .icon-dotts-b
      display: none
    .icon-dotts-t-small,
    .icon-dotts-b-small
      display: inline-block


.examples
  margin: 0 -10px -35px
  +fs(0)
  .text
    display: block
    margin-top: 20px
  +r(1000)
    max-width: 480px
    margin-left: auto
    margin-right: auto
    .examples__item
      width: 33.33333%
  +r(500)
    margin-left: -10px
    margin-right: -10px
    .examples__item
      width: 50%

.examples__item
  display: inline-block
  vertical-align: top
  width: (100%/6)
  margin-bottom: 35px
  padding: 0 10px
  box-sizing: border-box
  +fs(14)
  text-align: center
  cursor: pointer
  > a
    color: inherit
    text-decoration: none
  &:hover
    .big-btn_video
      box-shadow: inset 0 0 0 em(5) $interactive
      .icon
        fill: $interactive
    .big-btn_file
      background: $interactive
      border-color: $interactive


.steps
  margin: 0 -10px
  +clr
  +r(650)
    margin: auto
    max-width: 350px
    .steps__item
      float: none
      width: auto
      padding: 0
      margin-top: 35px
      &:first-child
        margin-top: 0

.steps__item
  float: left
  width: 33.3333%
  box-sizing: border-box
  padding: 0 10px


.logos
  font-size: 0
  text-align: center
  margin-bottom: -40px

.logos__item
  width: (100%/9)
  display: inline-block
  vertical-align: middle
  margin-bottom: 40px
  .logo-link
    +fs(14)
    line-height: em(72)
  +tablet
    width: 20%
  +r(600)
    width: 33.33333%


.person
  display: block
  max-width: em(300)
  padding: em(10) 0
  margin: em(-10) auto
  text-decoration: none
  color: inherit
  text-decoration: none
  &:hover
    .link:before
      right: 0


.person__photo
  width: em(100)
  height: em(100)
  margin: auto
  border-radius: 50%
  overflow: hidden
  > img
    display: block
    max-width: 100%
    max-height: 100%
    width: 100%
    height: 100%

.person__name
  display: block
  margin-top: em(20)
  +bold
  text-transform: uppercase
  letter-spacing: em(2)

.person__about
  display: block
  margin-top: em(10)
  +light


.review
  text-align: center

.review__text
  margin: em(20) 0 0
  font-family: Georgia
  font-style: italic
  +fs(18)
  line-height: 1.45

.review__arrow
  position: relative
  margin: em(17) auto em(20)
  max-width: em(236)
  height: em(18)
  border-bottom: 2px solid $passive
  &:before,
  &:after
    content: ""
    position: absolute
    bottom: 0
    left: 50%
    +arr(36,18,$passive,t)
    margin-left: -18px
  &:after
    border-bottom-color: #FFF
    bottom: -3px


.slider-wrap
  position: relative
  margin: 80px 0 0

.slider
  position: relative
  padding-bottom: 40px

.slider__slide
  padding: 0 40px

.slider__prev,
.slider__next
  background: none
  position: absolute
  padding: 21px 23px
  margin: -21px -23px
  top: 50%
  +trans
  .icon
    fill: $interactive
    +trans
  &:hover
    transform: scale(1.2)
    .icon
      fill: $action
  &:active
    transform: scale(0.8)
    .icon
      fill: $active-green
  +mobile
    top: 31%

.slider__prev
  left: 0

.slider__next
  right: 0



.form
  +mobile
    .form__three
      margin-left: 0
      margin-right: 0
      &:after
        display: none
      .form__field
        float: none
        width: auto
        padding: 0
        margin-top: 20px
        &:first-child
          margin-top: 0
  &.is-error
    animation: form-error 0.15s linear 5
  .is-success &, &.is-success
    display: none


.form__three
  margin: 0 -10px 20px
  +clr

.form__field
  float: left
  width: 33.33333%
  box-sizing: border-box
  padding: 0 10px

.form__footer
  position: relative
  margin-top: 20px
  display: table
  width: 100%
  table-layout: fixed
  text-align: center
  +r(700)
    display: block
    padding-top: 40px
    .form__footer-btn
      position: absolute
      top: 0
      left: 0
      right: 0
      margin-top: 0

.form__footer-cell
  display: table-cell
  vertical-align: middle
  width: 33.33333%
  padding: 0 10px
  color: $passive
  +fs(12)
  line-height: 1.33
  .btn
    display: block
    position: relative
    z-index: 2
    width: 100%
  +r(700)
    display: block
    width: auto
    margin-top: 15px

.form__footer-btn
  position: relative
  .error
    left: 10px
    right: 10px
    margin-bottom: 10px

.contacts
  margin: 80px -10px
  +clr
  +r(750)
    max-width: 235px
    margin-left: auto
    margin-right: auto
    .contacts__column
      float: none
      width: auto
      margin-top: 40px
      &:first-child
        margin-top: 0
      &:last-child
        text-align: center
    .map
      position: relative
      left: em(-10)

.contacts__column
  float: left
  width: 33.3333%
  box-sizing: border-box
  padding: 0 10px
  &:last-child
    text-align: right

.contact
  display: block
  margin-top: 15px
  text-decoration: none
  padding-left: em(30)
  position: relative
  text-decoration: none
  &:first-child
    margin-top: 0
  .icon
    position: absolute
    top: 50%
    left: 0
    margin-top: -0.5em
    fill: currentColor
  a[href^="tel"]
    text-decoration: none
    color: inherit


.map
  position: relative
  width: em(153)
  height: em(100)
  margin: auto
  background: url('../img/svg/icons-other/ukr-map.svg') no-repeat center center
  background-size: cover
  img
    display: block
    width: 100%
    height: 100%
  .icon
    fill: $passive

.map__baloon
  position: absolute
  width: em(130,12)
  box-sizing: border-box
  bottom: percentage(58/100)
  right: percentage(43/153)
  +fs(12)
  line-height: 1.2
  padding: em(8,12) em(10,12)
  background: $main
  border-radius: 3px
  color: #FFF
  margin-right: percentage(-65/153)
  &:after
    content: ""
    position: absolute
    top: 100%
    left: 50%
    +arr(20,8,$main,b)
    margin-left: -10px


.link-form
  display: inline-block
  +fs(14)
  width: em(200)
  height: em(100)
  // padding: em(20) 0 em(20) em(20)
  line-height: em(96)
  box-sizing: border-box
  background: none
  text-align: left
  border: 2px solid $interactive
  color: $interactive
  border-radius: 10px
  text-decoration: none
  +regular
  +trans
  .icon
    margin-right: em(20,42)
    fill: $interactive
    float: left
    +trans
  &:hover, &:focus
    color: #FFF
    background: $interactive
    .icon
      fill: #FFF
  &:active
    color: #FFF
    background: $active
    border-color: $active
    .icon
      fill: #FFF
  &:disabled, &.is-inactive
    color: $passive
    border-color: $passive
    .icon
      fill: $passive

.link-form__inner
  display: inline-block
  vertical-align: middle
  line-height: 1.5
  padding: 0 0 0 em(20)
  +clr

.social-wrap
  margin-top: 80px


.footer
  position: relative
  +clr
  +r(750)
    .footer__left,
    .footer__right
      float: none
      width: auto
      padding: 0
      text-align: center
      margin-bottom: 10px
    .footer__center
      position: static
      margin-top: 35px

.footer__left
  width: 50%
  float: left
  box-sizing: border-box
  padding-right: em(50)

.footer__right
  width: 50%
  float: right
  box-sizing: border-box
  padding-left: em(50)
  text-align: right

.footer__center
  position: absolute
  top: em(-3)
  left: 0
  right: 0
  width: em(100)
  margin: auto
  text-align: center


.popup
  display: none
  position: fixed
  z-index: 101
  top: 0
  left: 0
  right: 0
  bottom: 0
  padding: 20px
  background: rgba(0,0,0,0.75)
  overflow: auto
  +vertical
  white-space: nowrap
  cursor: pointer

.popup__inner
  display: inline-block
  vertical-align: middle
  position: relative
  transform: translateY(50px)
  +fs(14)
  white-space: normal
  opacity: 0
  transition: all 0.5s ease
  cursor: default
  &.is-visible
    transform: translateY(0)
    opacity: 1


.popup__close
  position: absolute
  top: 80px
  right: -58px
  background: none
  +fs(37)
  line-height: 1
  margin: -0.5em -0.5em 0 0
  +trans
  .icon
    vertical-align: top
    font-size: inherit
    fill: $passive
  &:hover, &:focus
    transform: rotate(90deg)
    .icon
      fill: $interactive
  &:active
    .icon
      fill: $active
  +r(980)
    top: auto
    bottom: 100%
    right: 0
    margin: 0 0 0.2em

.popup_video
  .popup__inner
    max-width: em(800)
    width: 100%
    min-width: em(200)
    border: 1px solid $interactive
    background: $interactive
    &:before
      content: ""
      display: block
      padding-bottom: percentage(450/800)
  .popup__frame
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0


.message
  text-align: center
  margin-top: em(55)
  .form-wrapper &
    display: none
  .is-success &
    display: block

.message__icon
  margin-bottom: em(35)


.mrg-80
  margin-top: em(80)
  margin-bottom: em(80)
  &:first-child
    margin-top: 0
  &:last-child
    margin-bottom: 0