$icons: (
  arr-next: (X: -600px, Y:-488px, W: 16px, H: 30px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  arr-prev: (X: 0px, Y:-650px, W: 16px, H: 29px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  birzool: (X: -513px, Y:-221px, W: 75px, H: 16px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  book: (X: -698px, Y:-386px, W: 50px, H: 60px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  bookmark: (X: -390px, Y:-488px, W: 60px, H: 60px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  business: (X: -291px, Y:-406px, W: 61px, H: 60px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  capable-bits: (X: 0px, Y:-590px, W: 69px, H: 50px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  chart: (X: -628px, Y:-209px, W: 60px, H: 58px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  checklist: (X: -503px, Y:-406px, W: 60px, H: 60px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  clock: (X: -698px, Y:-64px, W: 53px, H: 60px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  close: (X: -319px, Y:-590px, W: 29px, H: 28px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  cloud: (X: -698px, Y:-456px, W: 60px, H: 49px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  codedby: (X: -199px, Y:-558px, W: 47px, H: 5px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  coderiver: (X: -140px, Y:-558px, W: 49px, H: 5px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  computer: (X: -698px, Y:0px, W: 61px, H: 54px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  dotts-b-small: (X: -110px, Y:-295px, W: 165px, H: 101px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  dotts-b: (X: -333px, Y:0px, W: 285px, H: 101px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  dotts-l-2: (X: 0px, Y:-295px, W: 100px, H: 285px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  dotts-l: (X: -222px, Y:0px, W: 101px, H: 285px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  dotts-r-2: (X: 0px, Y:0px, W: 101px, H: 285px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  dotts-r: (X: -111px, Y:0px, W: 101px, H: 285px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  dotts-t-small: (X: -285px, Y:-295px, W: 165px, H: 100px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  dotts-t: (X: -333px, Y:-111px, W: 285px, H: 100px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  driver-notes: (X: -628px, Y:-414px, W: 50px, H: 50px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  email: (X: -539px, Y:-251px, W: 21px, H: 20px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  flag: (X: -362px, Y:-406px, W: 61px, H: 60px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  graph: (X: -220px, Y:-406px, W: 61px, H: 61px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  hand: (X: -628px, Y:-139px, W: 58px, H: 60px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  heart: (X: -628px, Y:-277px, W: 57px, H: 60px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  inspire-me: (X: -333px, Y:-251px, W: 82px, H: 26px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  iphone: (X: -573px, Y:-406px, W: 36px, H: 60px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  link-hover: (X: -598px, Y:-221px, W: 10px, H: 9px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  link: (X: -601px, Y:-251px, W: 10px, H: 9px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  location: (X: -628px, Y:-70px, W: 60px, H: 59px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  logo-small: (X: -628px, Y:-474px, W: 54px, H: 45px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  logo: (X: -110px, Y:-406px, W: 100px, H: 72px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  map: (X: -570px, Y:-251px, W: 21px, H: 20px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  mind: (X: -250px, Y:-488px, W: 60px, H: 60px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  mobiads: (X: -159px, Y:-590px, W: 70px, H: 40px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  nova-poshta: (X: -698px, Y:-515px, W: 58px, H: 50px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  person-card: (X: -628px, Y:-347px, W: 60px, H: 57px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  person: (X: -460px, Y:-488px, W: 60px, H: 60px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  phone: (X: -110px, Y:-558px, W: 20px, H: 21px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  play: (X: -498px, Y:-251px, W: 31px, H: 20px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  questionnaire: (X: -698px, Y:-575px, W: 42px, H: 60px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  rio: (X: -425px, Y:-251px, W: 63px, H: 26px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  separator: (X: -333px, Y:-221px, W: 170px, H: 20px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  settings: (X: -180px, Y:-488px, W: 60px, H: 60px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  sofa: (X: -320px, Y:-488px, W: 60px, H: 60px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  spaces: (X: -239px, Y:-590px, W: 70px, H: 39px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  stample: (X: -698px, Y:-134px, W: 53px, H: 60px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  startask: (X: -79px, Y:-590px, W: 70px, H: 41px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  step: (X: -628px, Y:0px, W: 60px, H: 60px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  store: (X: -698px, Y:-204px, W: 60px, H: 52px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  success: (X: -110px, Y:-488px, W: 60px, H: 60px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  target: (X: -698px, Y:-326px, W: 60px, H: 50px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  tree: (X: -530px, Y:-488px, W: 60px, H: 60px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  ukr-map: (X: -460px, Y:-295px, W: 153px, H: 100px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  ux-fox: (X: -628px, Y:-529px, W: 46px, H: 50px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  video: (X: -433px, Y:-406px, W: 60px, H: 60px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
  windows: (X: -698px, Y:-266px, W: 61px, H: 50px, TW: 759px, TH: 679px, IMG: '../img/icons.png'),
);


// Gets an attribute from the sass map
@function icon-attr($icon, $attr) {
  $icon: map-get($icons, $icon);
  @return map-get($icon, $attr);
}

@mixin sprite($iconName) {
  background-image: url(icon-attr($iconName, IMG));
  width: icon-attr($iconName, W);
  height: icon-attr($iconName, H);
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y);
}


.ie8 {

  .icon-arr-next {
    width: 16px;
    height: 30px;
    background-image: url('../img/icons.png');
    background-position: -600px -488px;
  }

  .icon-arr-prev {
    width: 16px;
    height: 29px;
    background-image: url('../img/icons.png');
    background-position: 0px -650px;
  }

  .icon-birzool {
    width: 75px;
    height: 16px;
    background-image: url('../img/icons.png');
    background-position: -513px -221px;
  }

  .icon-book {
    width: 50px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -698px -386px;
  }

  .icon-bookmark {
    width: 60px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -390px -488px;
  }

  .icon-business {
    width: 61px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -291px -406px;
  }

  .icon-capable-bits {
    width: 69px;
    height: 50px;
    background-image: url('../img/icons.png');
    background-position: 0px -590px;
  }

  .icon-chart {
    width: 60px;
    height: 58px;
    background-image: url('../img/icons.png');
    background-position: -628px -209px;
  }

  .icon-checklist {
    width: 60px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -503px -406px;
  }

  .icon-clock {
    width: 53px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -698px -64px;
  }

  .icon-close {
    width: 29px;
    height: 28px;
    background-image: url('../img/icons.png');
    background-position: -319px -590px;
  }

  .icon-cloud {
    width: 60px;
    height: 49px;
    background-image: url('../img/icons.png');
    background-position: -698px -456px;
  }

  .icon-codedby {
    width: 47px;
    height: 5px;
    background-image: url('../img/icons.png');
    background-position: -199px -558px;
  }

  .icon-coderiver {
    width: 49px;
    height: 5px;
    background-image: url('../img/icons.png');
    background-position: -140px -558px;
  }

  .icon-computer {
    width: 61px;
    height: 54px;
    background-image: url('../img/icons.png');
    background-position: -698px 0px;
  }

  .icon-dotts-b-small {
    width: 165px;
    height: 101px;
    background-image: url('../img/icons.png');
    background-position: -110px -295px;
  }

  .icon-dotts-b {
    width: 285px;
    height: 101px;
    background-image: url('../img/icons.png');
    background-position: -333px 0px;
  }

  .icon-dotts-l-2 {
    width: 100px;
    height: 285px;
    background-image: url('../img/icons.png');
    background-position: 0px -295px;
  }

  .icon-dotts-l {
    width: 101px;
    height: 285px;
    background-image: url('../img/icons.png');
    background-position: -222px 0px;
  }

  .icon-dotts-r-2 {
    width: 101px;
    height: 285px;
    background-image: url('../img/icons.png');
    background-position: 0px 0px;
  }

  .icon-dotts-r {
    width: 101px;
    height: 285px;
    background-image: url('../img/icons.png');
    background-position: -111px 0px;
  }

  .icon-dotts-t-small {
    width: 165px;
    height: 100px;
    background-image: url('../img/icons.png');
    background-position: -285px -295px;
  }

  .icon-dotts-t {
    width: 285px;
    height: 100px;
    background-image: url('../img/icons.png');
    background-position: -333px -111px;
  }

  .icon-driver-notes {
    width: 50px;
    height: 50px;
    background-image: url('../img/icons.png');
    background-position: -628px -414px;
  }

  .icon-email {
    width: 21px;
    height: 20px;
    background-image: url('../img/icons.png');
    background-position: -539px -251px;
  }

  .icon-flag {
    width: 61px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -362px -406px;
  }

  .icon-graph {
    width: 61px;
    height: 61px;
    background-image: url('../img/icons.png');
    background-position: -220px -406px;
  }

  .icon-hand {
    width: 58px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -628px -139px;
  }

  .icon-heart {
    width: 57px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -628px -277px;
  }

  .icon-inspire-me {
    width: 82px;
    height: 26px;
    background-image: url('../img/icons.png');
    background-position: -333px -251px;
  }

  .icon-iphone {
    width: 36px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -573px -406px;
  }

  .icon-link-hover {
    width: 10px;
    height: 9px;
    background-image: url('../img/icons.png');
    background-position: -598px -221px;
  }

  .icon-link {
    width: 10px;
    height: 9px;
    background-image: url('../img/icons.png');
    background-position: -601px -251px;
  }

  .icon-location {
    width: 60px;
    height: 59px;
    background-image: url('../img/icons.png');
    background-position: -628px -70px;
  }

  .icon-logo-small {
    width: 54px;
    height: 45px;
    background-image: url('../img/icons.png');
    background-position: -628px -474px;
  }

  .icon-logo {
    width: 100px;
    height: 72px;
    background-image: url('../img/icons.png');
    background-position: -110px -406px;
  }

  .icon-map {
    width: 21px;
    height: 20px;
    background-image: url('../img/icons.png');
    background-position: -570px -251px;
  }

  .icon-mind {
    width: 60px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -250px -488px;
  }

  .icon-mobiads {
    width: 70px;
    height: 40px;
    background-image: url('../img/icons.png');
    background-position: -159px -590px;
  }

  .icon-nova-poshta {
    width: 58px;
    height: 50px;
    background-image: url('../img/icons.png');
    background-position: -698px -515px;
  }

  .icon-person-card {
    width: 60px;
    height: 57px;
    background-image: url('../img/icons.png');
    background-position: -628px -347px;
  }

  .icon-person {
    width: 60px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -460px -488px;
  }

  .icon-phone {
    width: 20px;
    height: 21px;
    background-image: url('../img/icons.png');
    background-position: -110px -558px;
  }

  .icon-play {
    width: 31px;
    height: 20px;
    background-image: url('../img/icons.png');
    background-position: -498px -251px;
  }

  .icon-questionnaire {
    width: 42px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -698px -575px;
  }

  .icon-rio {
    width: 63px;
    height: 26px;
    background-image: url('../img/icons.png');
    background-position: -425px -251px;
  }

  .icon-separator {
    width: 170px;
    height: 20px;
    background-image: url('../img/icons.png');
    background-position: -333px -221px;
  }

  .icon-settings {
    width: 60px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -180px -488px;
  }

  .icon-sofa {
    width: 60px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -320px -488px;
  }

  .icon-spaces {
    width: 70px;
    height: 39px;
    background-image: url('../img/icons.png');
    background-position: -239px -590px;
  }

  .icon-stample {
    width: 53px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -698px -134px;
  }

  .icon-startask {
    width: 70px;
    height: 41px;
    background-image: url('../img/icons.png');
    background-position: -79px -590px;
  }

  .icon-step {
    width: 60px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -628px 0px;
  }

  .icon-store {
    width: 60px;
    height: 52px;
    background-image: url('../img/icons.png');
    background-position: -698px -204px;
  }

  .icon-success {
    width: 60px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -110px -488px;
  }

  .icon-target {
    width: 60px;
    height: 50px;
    background-image: url('../img/icons.png');
    background-position: -698px -326px;
  }

  .icon-tree {
    width: 60px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -530px -488px;
  }

  .icon-ukr-map {
    width: 153px;
    height: 100px;
    background-image: url('../img/icons.png');
    background-position: -460px -295px;
  }

  .icon-ux-fox {
    width: 46px;
    height: 50px;
    background-image: url('../img/icons.png');
    background-position: -628px -529px;
  }

  .icon-video {
    width: 60px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -433px -406px;
  }

  .icon-windows {
    width: 61px;
    height: 50px;
    background-image: url('../img/icons.png');
    background-position: -698px -266px;
  }

}