$icons: (
  arr-next: (X: -655px, Y:-253px, W: 16px, H: 30px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  arr-prev: (X: -681px, Y:-253px, W: 16px, H: 29px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  birzool: (X: -402px, Y:-221px, W: 75px, H: 16px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  book: (X: -587px, Y:-280px, W: 50px, H: 60px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  bookmark: (X: -323px, Y:-406px, W: 60px, H: 60px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  business: (X: -181px, Y:-406px, W: 61px, H: 60px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  capable-bits: (X: -210px, Y:-488px, W: 69px, H: 50px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  chart: (X: -517px, Y:-420px, W: 60px, H: 58px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  checklist: (X: -517px, Y:-350px, W: 60px, H: 60px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  clock: (X: -587px, Y:-140px, W: 53px, H: 60px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  close: (X: -655px, Y:-185px, W: 29px, H: 28px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  cloud: (X: -430px, Y:-488px, W: 60px, H: 49px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  codedby: (X: -655px, Y:-369px, W: 47px, H: 5px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  coderiver: (X: -655px, Y:-354px, W: 49px, H: 5px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  computer: (X: -70px, Y:-558px, W: 61px, H: 54px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  dotts-b-small: (X: 0px, Y:-295px, W: 165px, H: 101px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  dotts-b: (X: -222px, Y:0px, W: 285px, H: 101px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  dotts-l: (X: 0px, Y:0px, W: 101px, H: 285px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  dotts-r: (X: -111px, Y:0px, W: 101px, H: 285px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  dotts-t-small: (X: -175px, Y:-295px, W: 165px, H: 100px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  dotts-t: (X: -222px, Y:-111px, W: 285px, H: 100px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  driver-notes: (X: -587px, Y:-480px, W: 50px, H: 50px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  email: (X: -655px, Y:-324px, W: 21px, H: 20px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  flag: (X: -252px, Y:-406px, W: 61px, H: 60px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  graph: (X: -110px, Y:-406px, W: 61px, H: 61px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  hand: (X: -587px, Y:0px, W: 58px, H: 60px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  heart: (X: -587px, Y:-70px, W: 57px, H: 60px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  inspire-me: (X: -222px, Y:-251px, W: 82px, H: 26px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  iphone: (X: -655px, Y:-115px, W: 36px, H: 60px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  link: (X: -694px, Y:-185px, W: 10px, H: 9px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  location: (X: -140px, Y:-488px, W: 60px, H: 59px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  logo-small: (X: -655px, Y:0px, W: 54px, H: 45px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  logo: (X: 0px, Y:-406px, W: 100px, H: 72px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  map: (X: -685px, Y:-293px, W: 21px, H: 20px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  mind: (X: 0px, Y:-488px, W: 60px, H: 60px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  mobiads: (X: -211px, Y:-558px, W: 70px, H: 40px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  nova-poshta: (X: -587px, Y:-350px, W: 58px, H: 50px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  person-card: (X: 0px, Y:-558px, W: 60px, H: 57px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  person: (X: -517px, Y:-70px, W: 60px, H: 60px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  phone: (X: -655px, Y:-293px, W: 20px, H: 21px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  play: (X: -655px, Y:-223px, W: 31px, H: 20px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  questionnaire: (X: -587px, Y:-410px, W: 42px, H: 60px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  rio: (X: -314px, Y:-251px, W: 63px, H: 26px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  separator: (X: -222px, Y:-221px, W: 170px, H: 20px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  settings: (X: -70px, Y:-488px, W: 60px, H: 60px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  sofa: (X: -517px, Y:-280px, W: 60px, H: 60px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  spaces: (X: -291px, Y:-558px, W: 70px, H: 39px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  stample: (X: -587px, Y:-210px, W: 53px, H: 60px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  startask: (X: -500px, Y:-488px, W: 70px, H: 41px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  step: (X: -517px, Y:0px, W: 60px, H: 60px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  store: (X: -141px, Y:-558px, W: 60px, H: 52px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  success: (X: -517px, Y:-140px, W: 60px, H: 60px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  target: (X: -360px, Y:-488px, W: 60px, H: 50px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  tree: (X: -393px, Y:-406px, W: 60px, H: 60px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  ukr-map: (X: -350px, Y:-295px, W: 153px, H: 100px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  ux-fox: (X: -655px, Y:-55px, W: 46px, H: 50px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  video: (X: -517px, Y:-210px, W: 60px, H: 60px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
  windows: (X: -289px, Y:-488px, W: 61px, H: 50px, TW: 709px, TH: 615px, IMG: '../img/icons.png'),
);


// Gets an attribute from the sass map
@function icon-attr($icon, $attr) {
  $icon: map-get($icons, $icon);
  @return map-get($icon, $attr);
}

@mixin sprite($iconName) {
  background-image: url(icon-attr($iconName, IMG));
  width: icon-attr($iconName, W);
  height: icon-attr($iconName, H);
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y);
}


.ie8 {

  .icon-arr-next {
    width: 16px;
    height: 30px;
    background-image: url('../img/icons.png');
    background-position: -655px -253px;
  }

  .icon-arr-prev {
    width: 16px;
    height: 29px;
    background-image: url('../img/icons.png');
    background-position: -681px -253px;
  }

  .icon-birzool {
    width: 75px;
    height: 16px;
    background-image: url('../img/icons.png');
    background-position: -402px -221px;
  }

  .icon-book {
    width: 50px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -587px -280px;
  }

  .icon-bookmark {
    width: 60px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -323px -406px;
  }

  .icon-business {
    width: 61px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -181px -406px;
  }

  .icon-capable-bits {
    width: 69px;
    height: 50px;
    background-image: url('../img/icons.png');
    background-position: -210px -488px;
  }

  .icon-chart {
    width: 60px;
    height: 58px;
    background-image: url('../img/icons.png');
    background-position: -517px -420px;
  }

  .icon-checklist {
    width: 60px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -517px -350px;
  }

  .icon-clock {
    width: 53px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -587px -140px;
  }

  .icon-close {
    width: 29px;
    height: 28px;
    background-image: url('../img/icons.png');
    background-position: -655px -185px;
  }

  .icon-cloud {
    width: 60px;
    height: 49px;
    background-image: url('../img/icons.png');
    background-position: -430px -488px;
  }

  .icon-codedby {
    width: 47px;
    height: 5px;
    background-image: url('../img/icons.png');
    background-position: -655px -369px;
  }

  .icon-coderiver {
    width: 49px;
    height: 5px;
    background-image: url('../img/icons.png');
    background-position: -655px -354px;
  }

  .icon-computer {
    width: 61px;
    height: 54px;
    background-image: url('../img/icons.png');
    background-position: -70px -558px;
  }

  .icon-dotts-b-small {
    width: 165px;
    height: 101px;
    background-image: url('../img/icons.png');
    background-position: 0px -295px;
  }

  .icon-dotts-b {
    width: 285px;
    height: 101px;
    background-image: url('../img/icons.png');
    background-position: -222px 0px;
  }

  .icon-dotts-l {
    width: 101px;
    height: 285px;
    background-image: url('../img/icons.png');
    background-position: 0px 0px;
  }

  .icon-dotts-r {
    width: 101px;
    height: 285px;
    background-image: url('../img/icons.png');
    background-position: -111px 0px;
  }

  .icon-dotts-t-small {
    width: 165px;
    height: 100px;
    background-image: url('../img/icons.png');
    background-position: -175px -295px;
  }

  .icon-dotts-t {
    width: 285px;
    height: 100px;
    background-image: url('../img/icons.png');
    background-position: -222px -111px;
  }

  .icon-driver-notes {
    width: 50px;
    height: 50px;
    background-image: url('../img/icons.png');
    background-position: -587px -480px;
  }

  .icon-email {
    width: 21px;
    height: 20px;
    background-image: url('../img/icons.png');
    background-position: -655px -324px;
  }

  .icon-flag {
    width: 61px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -252px -406px;
  }

  .icon-graph {
    width: 61px;
    height: 61px;
    background-image: url('../img/icons.png');
    background-position: -110px -406px;
  }

  .icon-hand {
    width: 58px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -587px 0px;
  }

  .icon-heart {
    width: 57px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -587px -70px;
  }

  .icon-inspire-me {
    width: 82px;
    height: 26px;
    background-image: url('../img/icons.png');
    background-position: -222px -251px;
  }

  .icon-iphone {
    width: 36px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -655px -115px;
  }

  .icon-link {
    width: 10px;
    height: 9px;
    background-image: url('../img/icons.png');
    background-position: -694px -185px;
  }

  .icon-location {
    width: 60px;
    height: 59px;
    background-image: url('../img/icons.png');
    background-position: -140px -488px;
  }

  .icon-logo-small {
    width: 54px;
    height: 45px;
    background-image: url('../img/icons.png');
    background-position: -655px 0px;
  }

  .icon-logo {
    width: 100px;
    height: 72px;
    background-image: url('../img/icons.png');
    background-position: 0px -406px;
  }

  .icon-map {
    width: 21px;
    height: 20px;
    background-image: url('../img/icons.png');
    background-position: -685px -293px;
  }

  .icon-mind {
    width: 60px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: 0px -488px;
  }

  .icon-mobiads {
    width: 70px;
    height: 40px;
    background-image: url('../img/icons.png');
    background-position: -211px -558px;
  }

  .icon-nova-poshta {
    width: 58px;
    height: 50px;
    background-image: url('../img/icons.png');
    background-position: -587px -350px;
  }

  .icon-person-card {
    width: 60px;
    height: 57px;
    background-image: url('../img/icons.png');
    background-position: 0px -558px;
  }

  .icon-person {
    width: 60px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -517px -70px;
  }

  .icon-phone {
    width: 20px;
    height: 21px;
    background-image: url('../img/icons.png');
    background-position: -655px -293px;
  }

  .icon-play {
    width: 31px;
    height: 20px;
    background-image: url('../img/icons.png');
    background-position: -655px -223px;
  }

  .icon-questionnaire {
    width: 42px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -587px -410px;
  }

  .icon-rio {
    width: 63px;
    height: 26px;
    background-image: url('../img/icons.png');
    background-position: -314px -251px;
  }

  .icon-separator {
    width: 170px;
    height: 20px;
    background-image: url('../img/icons.png');
    background-position: -222px -221px;
  }

  .icon-settings {
    width: 60px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -70px -488px;
  }

  .icon-sofa {
    width: 60px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -517px -280px;
  }

  .icon-spaces {
    width: 70px;
    height: 39px;
    background-image: url('../img/icons.png');
    background-position: -291px -558px;
  }

  .icon-stample {
    width: 53px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -587px -210px;
  }

  .icon-startask {
    width: 70px;
    height: 41px;
    background-image: url('../img/icons.png');
    background-position: -500px -488px;
  }

  .icon-step {
    width: 60px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -517px 0px;
  }

  .icon-store {
    width: 60px;
    height: 52px;
    background-image: url('../img/icons.png');
    background-position: -141px -558px;
  }

  .icon-success {
    width: 60px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -517px -140px;
  }

  .icon-target {
    width: 60px;
    height: 50px;
    background-image: url('../img/icons.png');
    background-position: -360px -488px;
  }

  .icon-tree {
    width: 60px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -393px -406px;
  }

  .icon-ukr-map {
    width: 153px;
    height: 100px;
    background-image: url('../img/icons.png');
    background-position: -350px -295px;
  }

  .icon-ux-fox {
    width: 46px;
    height: 50px;
    background-image: url('../img/icons.png');
    background-position: -655px -55px;
  }

  .icon-video {
    width: 60px;
    height: 60px;
    background-image: url('../img/icons.png');
    background-position: -517px -210px;
  }

  .icon-windows {
    width: 61px;
    height: 50px;
    background-image: url('../img/icons.png');
    background-position: -289px -488px;
  }

}