extend _layout

block title
  title Index

block svg-sprite
  .svg-sprite
    include ../img/icons.svg

block content
  //begin toparea
  .toparea
    .toparea__outer

      //begin toparea__header
      .toparea__header
        .l
          header.header
            a(href="/").logo
              +icon("logo")

            //begin menu
            nav.menu
              ul.menu__list
                li
                  a(href="#").menu__link
                    | что это
                li
                  a(href="#").menu__link
                    | зачем
                li
                  a(href="#").menu__link
                    | как
                li
                  a(href="#").menu__link
                    | отзывы
            //end menu

            button(type="button").btn
              | Свяжитесь с нами
      //end toparea__header

      //begin toparea__inner
      .toparea__inner
        .l
          h1.heading.heading_toparea
            | Помогаем повышать прибыльность проектов и отрываться от конкурентов

          strong.subtitle.subtitle_toparea
            | Узнаём с помощью тестирования интерфейсов, насколько удобно людям
            |  пользоваться вашим продуктом и помогаем его улучшить.

          a(href="#").video-link
            +icon("play")
            span видео-презентация
      //end toparea__inner

      //begin toparea__center
      .toparea__footer
        .l
          button.btn
                | Свяжитесь с нами

          button(type="button").arrows-down
            +icon("arrow")
            +icon("arrow")
      //end toparea__center
  //end toparea

  //begin section
  .section
    .l
      h3.title
        | Тестирование интерфейса

      h2.heading
        | Это объективное исследование, которое покажет, насколько удобно людям пользоваться вашим проектом

      p.text.text_center
        | Тестирование похоже на метод <a href="#">«тайного покупателя»</a>,
        | только для цифровых продуктов и на подходящей вашему проекту целевой аудитории.
        | С помощью серии экспериментов мы узнаем, с какими трудностями сталкиваются пользователи
        | и чего им не хватает в вашем цифровом продукте. Мудрый Тест — закрытое исследование.
        | О его проведении и результатах никто не узнает без вашего согласия, кроме сотрудников и респондентов.

      h3.title
        | подойдёт любому продукту, отображающемуся на экране

      //begin icons
      ul.icons
        li.icons__item
          .figure
            .figure__icon
              +icon-grad("store")
            .figure__text
              | интернет
              br
              | магазинам
          //- +icon("store")
          //- img(src="img/svg/icons/store.svg", alt="")
        li.icons__item
          .figure
            .figure__icon
              +icon-grad("phone")
            .figure__text
              | мобильным
              br
              | приложениям
          //- +icon("phone")
          //- img(src="img/svg/icons/phone.svg", alt="")
        li.icons__item
          .figure
            .figure__icon
              +icon-grad("cloud")
            .figure__text
              | онлайн
              br
              | сервисам
          //- +icon("cloud")
          //- img(src="img/svg/icons/cloud.svg", alt="")
        li.icons__item
          .figure
            .figure__icon
              +icon-grad("computer")
            .figure__text
              | компьютерным
              br
              | программам
          //- +icon("computer")
          //- img(src="img/svg/icons/computer.svg", alt="")
        li.icons__item
          .figure
            .figure__icon
              +icon-grad("windows")
            .figure__text
              | любым
              br
              | веб-сайтам
          //- +icon("windows")
          //- img(src="img/svg/icons/windows.svg", alt="")
        li.icons__item
          .figure
            .figure__icon
              +icon-grad("stample")
            .figure__text
              | др. цифровым
              br
              | проектам
          //- img(src="img/svg/icons/stample.svg", alt="")
      //end icons

      p.text.text_center.text_light
        | Однажды нам довелось протестировать даже автомобильный навигатор
        | и интерфейс для телевизора, так что нас мало что может удивить :)
  //end section

  //begin photos
  .photos
    .photos__inner
      .photos__block
      .photos__block
        .photos__block-smaller
        .photos__block-smaller
        .photos__block-smaller
        .photos__block-smaller
      .photos__block
        .photos__block-small
        .photos__block-small
        .photos__block-small
        .photos__block-small
      .photos__block
  //end photos

  //begin features
  .section.features
    .l
      h3.title
        | несколько интересных особенностей тестирования

      .features__text
        .features__text-column
          p.text
            | Во время тестирования, вашим проектом будут пользоваться люди,
            |  подходящие под целевую аудиторию и (чаще всего) ранее не знакомые с продуктом.
        .features__text-column
          p.text
            | Они будут выполнять типовые (для вашего проекта) задачи, которые обычно решают пользователи.
        .features__text-column
          p.text
            | Всё происходит под наблюдением профессионалов, которые снимают происходящее на фото видео,
            | записывают на микрофон и ведут процесс в целом.
        .features__text-column
          p.text
            | Исследователи анализируют записанные материалы и готовят отчёт
            | о найденных проблемах с рекомендациями по их решению.

      p.text.text_center.text_light
        | Вы сможете совершенствовать свой проект, основываясь на решении
        | пользовательских проблем, о которых ранее могли и не догадываться.


      .l-columns
        .column
          .figure
            .figure__icon
              +icon-grad("step")
            .figure__text
              | на любой стадии разработки

          p.text.text_center
            | Для тестирования подойдёт как уже работающий проект, так и его интерактивный
            | прототип. Скетчи на бумаге тестировать не рекомендуем.

        .column
          .figure
            .figure__icon
              +icon-grad("business")
            .figure__text
              | для всех типов бизнеса

          p.text.text_center
            | Не имеет значения новый у вас продукт или уже давно работающий. 
            | Существующий, новая версия, стартап, ешё не на рынке.

    .section__separator
      +icon("separator")
  //end features

  //begin helping
  .section.helping
    .l
      h2.heading
        | Мудрый Тест поможет вашему проекту

      .helping__table
        .helping__row
          .helping__cell
            .figure
              .figure__icon
                +icon-grad("graph")
              .figure__text
                | оторваться от конкурентов
          .helping__cell
            .figure
              .figure__icon
                +icon-grad("flag")
              .figure__text
                | узнать насколько удобен продукт
        .helping__row
          .helping__cell
            .figure
              .figure__icon
                +icon-grad("chart")
              .figure__text
                | повысить эффективность и прибыльность
          .helping__cell
            .figure
              .figure__icon
                +icon-grad("heart")
              .figure__text
                | найти технические, маркетинговые и другие недоработки
        .helping__row
          .helping__cell
            .figure
              .figure__icon
                +icon-grad("settings")
              .figure__text
                | автоматизировать и оптимизировать процессы
          .helping__cell
            .figure
              .figure__icon
                +icon-grad("clock")
              .figure__text
                | сэкономить время и деньги на будущей разработке
        .helping__row
          .helping__cell
            .figure
              .figure__icon
                +icon-grad("sofa")
              .figure__text
                | облегчить  жизнь пользователям
          .helping__cell
            .figure
              .figure__icon
                +icon-grad("person")
              .figure__text
                | понять, что люди думают о проекте
  //end helping