extend _layout

block title
  title Index

//- block svg-sprite
  //- .svg-sprite
  //-   include ../img/icons.svg
  //- script
  //-   include ../js/load-svg-sprite.js

block load-svg-sprite
  script(type="text/javascript", src="js/load-svg-sprite.js")

block facebook
  include includes/fb-script.html

block content
  //begin toparea
  .toparea(name="top")
    .toparea__outer

      //begin toparea__header
      .toparea__header
        header.header
          .l
            a(href="#top").logo
              +icon("logo")
              +icon("logo-small")

            //begin menu
            nav.menu
              ul.menu__list
                li
                  a(href="#what-is-it").menu__link
                    | что это
                li
                  a(href="#what-for").menu__link
                    | зачем
                li
                  a(href="#how").menu__link
                    | как
                li
                  a(href="#reviews").menu__link
                    | отзывы
            //end menu

            a(href="#contact-us").btn
              | Свяжитесь с нами
      //end toparea__header

      //begin toparea__inner
      .toparea__inner
        .l
          h1.heading.heading_toparea
            | Помогаем повышать прибыльность проектов и отрываться от конкурентов

          strong.subtitle.subtitle_toparea
            | Узнаём с помощью тестирования интерфейсов, насколько удобно людям
            |  пользоваться вашим продуктом и помогаем его улучшить.

          button.video-link(data-popup="video")
            +icon("play")
            span видео-презентация
      //end toparea__inner

      //begin toparea__center
      .toparea__footer
        .l
          .toparea__footer-btn
            a(href="#contact-us").btn
              | Свяжитесь с нами

          a(href="#what-is-it").arrows-down
            +icon("arrow")
            +icon("arrow")
      //end toparea__center
  //end toparea

  //begin section what-is-it
  .section(name="what-is-it")
    .l
      h3.title
        span.title__text
          | Тестирование интерфейса

      h2.heading
        | Это объективное исследование, которое покажет, насколько удобно людям пользоваться вашим проектом

      p.text.text_center
        | Тестирование похоже на метод <a class="link link_icon" href="#">«тайного покупателя»</a>,
        | только для цифровых продуктов и на подходящей вашему проекту целевой аудитории.
        | С помощью серии экспериментов мы узнаем, с какими трудностями сталкиваются пользователи
        | и чего им не хватает в вашем цифровом продукте. Мудрый Тест — закрытое исследование.
        | О его проведении и результатах никто не узнает без вашего согласия, кроме сотрудников и респондентов.

      h3.title
        span.title__text
          | подойдёт любому продукту, отображающемуся на экране

      //begin icons
      ul.icons
        li.icons__item
          .figure
            .figure__icon
              +icon-grad("store")
            .figure__text
              | интернет
              br
              | магазинам
          //- +icon("store")
          //- img(src="img/svg/icons/store.svg", alt="")
        li.icons__item
          .figure
            .figure__icon
              +icon-grad("iphone")
            .figure__text
              | мобильным
              br
              | приложениям
          //- +icon("iphone")
          //- img(src="img/svg/icons/iphone.svg", alt="")
        li.icons__item
          .figure
            .figure__icon
              +icon-grad("cloud")
            .figure__text
              | онлайн
              br
              | сервисам
          //- +icon("cloud")
          //- img(src="img/svg/icons/cloud.svg", alt="")
        li.icons__item
          .figure
            .figure__icon
              +icon-grad("computer")
            .figure__text
              | компьютерным
              br
              | программам
          //- +icon("computer")
          //- img(src="img/svg/icons/computer.svg", alt="")
        li.icons__item
          .figure
            .figure__icon
              +icon-grad("windows")
            .figure__text
              | любым
              br
              | веб-сайтам
          //- +icon("windows")
          //- img(src="img/svg/icons/windows.svg", alt="")
        li.icons__item
          .figure
            .figure__icon
              +icon-grad("stample")
            .figure__text
              | др. цифровым
              br
              | проектам
          //- img(src="img/svg/icons/stample.svg", alt="")
      //end icons

      p.text.text_center.text_light
        | Однажды нам довелось протестировать даже автомобильный навигатор
        | и интерфейс для телевизора, так что нас мало что может удивить :)
  //end section what-is-it

  //begin photos
  .photos
    .photos__inner
      .photos__block
        img(src="img/photos/1.jpg", alt="")
      .photos__block
        .photos__block-smaller
          img(src="img/photos/2.jpg", alt="")
        .photos__block-smaller
          img(src="img/photos/3.jpg", alt="")
        .photos__block-smaller
          img(src="img/photos/4.jpg", alt="")
        .photos__block-smaller
          img(src="img/photos/5.jpg", alt="")
        .photos__block-smaller
          img(src="img/photos/6.jpg", alt="")
        .photos__block-smaller
          img(src="img/photos/7.jpg", alt="")
        .photos__block-smaller
          img(src="img/photos/8.jpg", alt="")
        .photos__block-smaller
          img(src="img/photos/9.jpg", alt="")
        .photos__block-smaller
          img(src="img/photos/10.jpg", alt="")
      .photos__block
        .photos__block-small
          img(src="img/photos/11.jpg", alt="")
        .photos__block-small
          img(src="img/photos/12.jpg", alt="")
        .photos__block-small
          img(src="img/photos/13.jpg", alt="")
        .photos__block-small
          img(src="img/photos/14.jpg", alt="")
      .photos__block
        img(src="img/photos/15.jpg", alt="")
  //end photos

  //begin features
  .section.features
    .l
      h3.title
        span.title__text
          | несколько интересных особенностей тестирования

      .features__text
        .features__text-column
          p.text
            | Во время тестирования, вашим проектом будут пользоваться люди,
            |  подходящие под целевую аудиторию и (чаще всего) ранее не знакомые с продуктом.
        .features__text-column
          p.text
            | Они будут выполнять типовые (для вашего проекта) задачи, которые обычно решают пользователи.
        .features__text-column
          p.text
            | Всё происходит под наблюдением профессионалов, которые снимают происходящее на фото видео,
            | записывают на микрофон и ведут процесс в целом.
        .features__text-column
          p.text
            | Исследователи анализируют записанные материалы и готовят отчёт
            | о найденных проблемах с рекомендациями по их решению.

      p.text.text_center.text_light
        | Вы сможете совершенствовать свой проект, основываясь на решении
        | пользовательских проблем, о которых ранее могли и не догадываться.


      .l-columns
        .column
          .figure
            .figure__icon
              +icon-grad("step")
            .figure__text
              | на любой стадии разработки

          p.text.text_center
            | Для тестирования подойдёт как уже работающий проект, так и его интерактивный
            | прототип. Скетчи на бумаге тестировать не рекомендуем.

        .column
          .figure
            .figure__icon
              +icon-grad("business")
            .figure__text
              | для всех типов бизнеса

          p.text.text_center
            | Не имеет значения новый у вас продукт или уже давно работающий. 
            | Существующий, новая версия, стартап, ешё не на рынке.
  //end features

  //begin what-for
  .section(name="what-for")
    .section__separator
      +icon("separator")
    .l
      h2.heading
        | Мудрый Тест поможет вашему проекту


      .helping
        .helping__table
          .helping__row
            .helping__cell
              .figure
                .figure__icon
                  +icon-grad("graph")
                .figure__text
                  | оторваться от конкурентов
            .helping__cell
              .figure
                .figure__icon
                  +icon-grad("flag")
                .figure__text
                  | узнать насколько удобен продукт
          .helping__row
            .helping__cell
              .figure
                .figure__icon
                  +icon-grad("chart")
                .figure__text
                  | повысить эффективность и прибыльность
            .helping__cell
              .figure
                .figure__icon
                  +icon-grad("heart")
                .figure__text
                  | найти технические, маркетинговые и другие недоработки
          .helping__row
            .helping__cell
              .figure
                .figure__icon
                  +icon-grad("settings")
                .figure__text
                  | автоматизировать и оптимизировать процессы
            .helping__cell
              .figure
                .figure__icon
                  +icon-grad("clock")
                .figure__text
                  | сэкономить время и деньги на будущей разработке
          .helping__row
            .helping__cell
              .figure
                .figure__icon
                  +icon-grad("sofa")
                .figure__text
                  | облегчить  жизнь пользователям
            .helping__cell
              .figure
                .figure__icon
                  +icon-grad("person")
                .figure__text
                  | понять, что люди думают о проекте

        .helping__center
          .helping__center-inner
            img(src="img/svg/pacman.svg", alt="pacman")

            p.text.text_center.text_light
              | Вы знаете свой продукт досконально, однако пользователи могут в нём теряться.
  //end what-for

  //begin how
  .section.section_bg(name="how")
    .l
      h2.heading
        | Проводим исследование тщательно и профессионально

      .l-columns.l-columns_three
        .column
          .figure.figure_regular
            .figure__icon
              +icon("video")
            p.figure__text-small
              | Для тестирования мы находим и приглашаем исключительно людей,
              | подходящих под целевую аудиторию проекта. Например, если им будут
              | пользоваться водители-женщины 20-30 лет с высшим образованиеми
              | и высоким доходом, мы найдём именно таких людей.
        .column
          .figure.figure_regular
            .figure__icon
              +icon("location")
            p.figure__text-small
              | Эксперименты проходят в типичной для тестируемого продукта обстановке.
              | Например, если мы тестируем авто-навигатор, то респонденты работают с ним в автомобиле на ходу.
              | Если же речь об интернет-магазине, то — дома за планшетом и в комфорте.
        .column
          .figure.figure_regular
            .figure__icon
              +icon("mind")
            p.figure__text-small
              | Мы просим респондентов озвучивать все свои мысли (внутренний голос).
              | Вместе с тестировщиком находится только ведущий, который не имеет
              | права отвечать на вопросы человека и как-либо ему подсказывать.

      //begin how
      .how
        .how__column
          .figure
            .figure__icon
              +icon("bookmark")
            .figure__text
              | Собираем информацию
            .figure__text-small
              | Изучем проект: бизнес-модель, целевая аудитория, цели
              | клиента и желания посетителей. Анализируем статистику.

        .how__arrow-hor
          +icon("dotts-t")
          +icon("dotts-t-small")

        .how__column.how__column_double

          .how__cell
            .how__arrow
              +icon("dotts-l")

            .figure
              .figure__icon
               +icon("tree")
              .figure__text
               | Готовим сценарии
              .figure__text-small
               | Готовим базовые и стрессовые наборы задач, которые следует
               | выполнить респондентам. Объединяем их в последовательности.

            .how__arrow
              +icon("dotts-r")

          .how__cell
            .figure
              .figure__icon
                +icon("book")
              .figure__text
                | Находим респондентов
              .figure__text-small
                | Подбираем подходящих под целевую аудиторию людей и приглашаем
                | их к нам в офис или сами приезжаем к ним для тестирования.

        .how__arrow-hor
          +icon("dotts-b")
          +icon("dotts-b-small")

        .how__column
          .figure
            .figure__icon
              +icon("hand")
            .figure__text
              | Даём продукт респонденту
            .figure__text-small
              | Просим людей выполнить ранее подготовленные задачи,
              | следим и управляем процессом, но ничего не подсказываем.

        .how__arrow-hor
          +icon("dotts-t")
          +icon("dotts-t-small")

        .how__column.how__column_double

          .how__cell
            .how__arrow
              +icon("dotts-l")

            .figure
              .figure__icon
                +icon("target")
              .figure__text
                | Записываем происходящее
              .figure__text-small
                | Фиксируем на видео содержимое экрана, лицо и позу респондента.
                | Также записываем звук на качественные диктофоны.

            .how__arrow
              +icon("dotts-r")
          .how__cell
            .figure
              .figure__icon
                +icon("video")
              .figure__text
                | Монтируем материалы
              .figure__text-small
                | Полученные видео и аудио-файлы объединяем в универсальные
                | записи каждой из множества сессий исследования.

        .how__arrow-hor
          +icon("dotts-b")
          +icon("dotts-b-small")

        .how__column
          .figure
            .figure__icon
              +icon("checklist")
            .figure__text
              | Готовим отчёт о тестировании
            .figure__text-small
              | Просматриваем записи сессий тестирования, выписываем найденные людьми проблемы и предлагаем решения.
      //end how

      h3.title
        span.title__text
          | Взгляните на примеры смонтированых записей сессий и отчётов

      //begin examples
      ul.examples
        li.examples__item
          a.big-btn.big-btn_video(href="http://youtu.be/dbA8poWwqYg", target="_blank" style="background-image:url('img/btn1.jpg')")
            .big-btn__inner
              +icon("play")
          span.text.text_light
            | 1 из 22 записей
        li.examples__item
          a.big-btn.big-btn_video(href="http://youtu.be/5_-RoIjYbPY", target="_blank" style="background-image:url('img/btn2.jpg')")
            .big-btn__inner
              +icon("play")
          span.text.text_light
            | 1 из 32 записей
        li.examples__item
          a.big-btn.big-btn_video(href="http://youtu.be/IetWJs6SVW0", target="_blank" style="background-image:url('img/btn3.jpg')")
            .big-btn__inner
              +icon("play")
          span.text.text_light
            | 1 из 64 записей
        li.examples__item
          a.big-btn.big-btn_file(href="https://dl.dropboxusercontent.com/u/238637/testing/drivernotes.pdf", target="_blank")
            .big-btn__inner
              span.file-name
                | DriverNotes.pdf
                small 38 мегабайт
          span.text.text_light
            | 23 страницы
        li.examples__item
          a.big-btn.big-btn_file(href="https://dl.dropboxusercontent.com/u/238637/testing/nexticy.pdf", target="_blank")
            .big-btn__inner
              span.file-name
                | Nexticy.pdf
                small 38 мегабайт
          span.text.text_light
            | 13 страницы
        li.examples__item
          a.big-btn.big-btn_file(href="https://dl.dropboxusercontent.com/u/238637/testing/novaposhta.pdf", target="_blank")
            .big-btn__inner
              span.file-name
                | NovaPoshta.pdf
                small 38 мегабайт
          span.text.text_light
            | 22 страницы

      //end examples

      h3.title
        span.title__text
          | Что следует делать с результатами тестирования

      ul.steps
        li.steps__item
          .step
            span.step__num
              span 1
            span.step__text
              | Попросить разработчиков или нас внедрить предложения.
        li.steps__item
          .step
            span.step__num
              span 2
            span.step__text
              | Отследить изменения показателей статистики и настроения людей.
        li.steps__item
          .step
            span.step__num
              span 3
            span.step__text
              | Радоваться повышению эффективности  работы проекта.
  //end how

  //begin reviews
  .section(name="reviews")
    .l
      h2.heading
        | Нашей работой довольны

      //begin logos
      ul.logos
        each logo in ["nova-poshta","capable-bits","spaces","rio","mobiads","driver-notes","startask","inspire-me","ux-fox"]
          li.logos__item
            a(href="#").logo-link
              +icon(logo)
      //end logos

      //begin reviews
      .slider-wrap
        .slider.js-slick
          .slider__slide
            .review
              .person
                .person__photo
                  img(src="img/review.jpg", alt="")
                strong.person__name
                  | Евгений Плохой
                span.person__about
                  | Исполнительный директор в <a class="link link_icon" href="#">Capable Bits</a>

              .review__arrow
              .review__text
                p
                  |Благодаря Мудрому Тесту получили массу очень полезной информации,
                  | которую не смогла собрать ни одна система аналитики. 
                p
                  | Увидели не только проблемные места в приложении, рекомендации по их устранению,
                  | а также живую реакцию настоящих пользователей.

          .slider__slide
            .review
              .person
                .person__photo
                  img(src="img/review.jpg", alt="")
                strong.person__name
                  | Евгений Плохой
                span.person__about
                  | Исполнительный директор в <a class="link link_icon" href="#">Capable Bits</a>

              .review__arrow
              .review__text
                p
                  | Благодаря Мудрому Тесту получили массу очень полезной информации,
                  | которую не смогла собрать ни одна система аналитики. 

          .slider__slide
            .review
              .person
                .person__photo
                  img(src="img/review.jpg", alt="")
                strong.person__name
                  | Евгений Плохой
                span.person__about
                  | Исполнительный директор в <a class="link link_icon" href="#">Capable Bits</a>
                  | Длинная подпись, длинная подпись

              .review__arrow
              .review__text
                p
                  | Благодаря Мудрому Тесту получили массу очень полезной информации,
                  | которую не смогла собрать ни одна система аналитики. 

          button(type="button").slider__prev
            +icon("arr-prev")
          button(type="button").slider__next
            +icon("arr-next")

      //end reviews
  //end reviews

  //begin contact-us
  .section(name="contact-us")
    .section__separator
      +icon("separator")
    .l
      h3.title
        span.title__text
          | Вы столько всего прочли, осталось самое простое

      h2.heading
        | Напишите, с нами легко связаться и приятно работать

      //begin form
      form.form
        .form__three
          .form__field
            .field
              input.field__input(type="text", placeholder="Как к вам обращаться?")
              .field__back
              span.error
                | Похоже, вы ввели в поле недопустимые символы
          .form__field
            .field
              input.field__input(type="text", placeholder="Ваш контактный e-mail")
              .field__back
              span.error
                | Похоже, вы ввели в поле недопустимые символы
          .form__field
            .field.is-error
              input.field__input(type="text", placeholder="Ссылка на проект (не обязательно)")
              .field__back
              span.error
                | Похоже, вы ввели в поле недопустимые символы
        .field
          textarea.field__input(rows="5", placeholder="Опишите свой продукт в двух предложениях (не обязательно)")
          .field__back

        .form__footer
          .form__footer-cell
            | За консультацию о проекте денег не возьмём
          .form__footer-cell.form__footer-btn.is-error
            button.btn.btn_green(type="submit")
              | Отправить нам сообщение
            span.error
              | При отправке формы произошла ошибка.
              | Пожалуйста, отправьте её повторно
          .form__footer-cell
            | Постараемся ответить как можно скорее :)
      //end form

      //begin contacts
      .contacts
        .contacts__column
          .contact
            +icon("phone")
            a(href="tel:+380913052712")
              | +380 91 305-27-12
          .contact
            +icon("email")
            a.link(href="mailto:hey@wisetest.me?subject=Обсуждение тестирования интерфейсов в Мудром Тесте")
              | hey@wisetest.me
          .contact
            +icon("map")
            span
              | Дзержинского, 84, офис 308
        .contacts__column
          .map
            //- +icon("ukr-map")
            //- img(src="img/svg/icons-other/ukr-map.svg", alt="")
            span.map__baloon
              | Украина, Запорожье

        .contacts__column
          a.link-form(href="https://docs.google.com/forms/d/1EY8bWlTXqcxypvedJajSsUS3bqLFW2YEXdIWlJZnaCU/viewform", target="_blank")
            .link-form__inner
              +icon("questionnaire")
              span
                | Анкета для потенциальных респондентов
      //end contacts

      //begin social
      .social-wrap(style="overflow:hidden")
        include includes/fb-tag.html
      //end social
  //end contact-us

  //begin section
  footer.section.section_footer
    .section__separator
    .l
      .footer
        .footer__left
          | © 2015, Мудрый Тест. Все права защищены.
        .footer__right
          | По всем вопросам пишите на <a class="link" href="#">hey@wisetest.me</a>
        .footer__center
          a.logo-link(href="http://birzool.com", target="_blank")
            +icon("birzool")
  //end section


block popup
  //begin popup
  #video.popup.popup_video
    .popup__inner
      .video
        //- | <iframe width="100%" height="100%" src="https://www.youtube.com/embed/dbA8poWwqYg" frameborder="0" allowfullscreen></iframe>

      button.popup__close
        +icon("close")
  //end popup